[2012-07-25 22:11] domenic opened #1 "Does not work with strict mode modules"
Due to [use of `caller`](https://github.com/thlorenz/proxyquire/blob/f2bc4f4b0baeb422c0cff02141f6fe93eb0054c4/proxyquire.js#L57), any modules that have `"use strict"` at the top and call the proxied `require` will immediately break.

It looks like you need the caller's `__dirname` in order to resolve relative modules. I think there are a variety of ways to do this, perhaps involving `require.resol

[2012-08-01 02:33] #1 closed, assigned to nobody

[2012-10-02 08:40] pghalliday opened #2 "Windows 7 not supported"
Hey, great work - this is (almost) exactly what I needed for my tests :)
Unfortunately though i tend to develop on multiple platforms including windows 7. When I try to use proxyquire on windows I get the following error:

[code]

from a call like this:

[code]

looks like it is munging the path separators.

BTW, using proxyquire 0.3.2

[2012-10-03 14:29] #2 closed, assigned to nobody

[2012-10-08 21:51] jason-patel-ensighten opened #6 "Feature Request: Prevent proxyquire from failing if it is being used to mock a .json require"
if proxyquire is used to mock a .json file that is loaded in through require, i wonder if it would be better behavior if it was possible for it to not require the real .json file to exist so proxyquire could just operate off the mock solely my main example is config management say for example your writing tests around your configmanager that relies on an env.config file on all your deployment mach

[2012-10-10 02:34] #6 closed, assigned to nobody

[2012-10-10 16:50] Raynos opened #7 "browserify support"
For unit tests running in browsers!

[2013-03-31 03:02] #7 closed, assigned to nobody

[2013-06-25 04:07] notslang opened #11 "Recursive Overrides"
I'm working on a way of tracking what files various compilers (like CoffeeScript, Jade, and Stylus) rely on when compiling, to make a better asset-graph for [roots](http://roots.cx). For example, if a Jade file has the line `include _partial`, when it is compiling it will read `_partial.jade`, and whenever `_partial.jade` is modified, the original Jade file will need to be recompiled.

In order to

[2013-06-25 16:53] #11 closed, assigned to nobody

[2013-07-30 13:57] TimBeyer opened #12 "Proxyquire does not override dependencies for one module only."
I want to test one module that makes use of the `fs` module.
So I stubbed out `fs.existsSync` and everything was working nicely. That was until I got to the part where I also needed to create a stub for `fs.readFileSync`.
Suddenly it all broke. I took me a while to realize that that's because I import another module that also uses `fs.readFileSync`.
I had also proxyquired that dependency so I didn

[2013-08-08 16:23] Morriz opened #14 "Impossible to stub non-existing module expecting to return a function."
Hi, I have a factory that I wish to test some functionality of.

This factory method returns new function() instances.

Therefore I wish to stub something along the line of:

proxyquire('factorypath': {
  'factorypath/testFunc' : testFunc
});

But it won't allow it. So I thought I'd set '@noCallThru', but that is not possible when a module is supposed to return just a function.

Or am I missing so

[2013-08-08 17:00] Morriz opened #15 "proxyquire won't catch dynamic requires"
It's as if proxyquire won't stay active to catch later requires, or it is designed like that because it can't handle those.

I surely hope to get an explanation :)

[2013-08-08 17:04] #14 closed, assigned to nobody

[2013-08-18 21:56] ricardobeat opened #16 "Override globals"
Would be great if proxyquire could override globals à la [rewire](https://github.com/jhnns/rewire).

Use case: mocking properties of the `process` object.

[2013-09-19 16:20] calebTomlinson opened #17 "Proxyquire will not stub falsey value"
[code]

[code]

In this particular case I worked around this by changing my config setup, but being able to stub something falsey would be a nice feature.

This would probably require some kind of hack/convention other than just `property: false` because of the way objects work

[2014-01-16 10:29] TimBeyer opened #19 "Browserify Compatibility"
We're using `browserify` to share our server side code with the client.
Our unit tests heavily use `proxyquire` to mock out module dependencies.

Of course we'd like to also run our unit tests in browsers, to make sure everything is working correctly. When attempting to browserify the unit tests and run them in the client, I ran into issues related to `require.cache` and `require.resolve` in https

[2014-01-16 16:48] #19 closed, assigned to nobody

[2014-01-28 22:44] jsdevel opened #20 "Question: is there a way to reset the state of proxyquire?"
It would nice if there were a way for future vanilla require calls to behave as one would expect.

[2014-01-28 23:13] jsdevel opened #21 "Add a reset method to restore require to where it once was."

[2014-02-05 19:30] ColemanGariety opened #22 "How to stub out the filesystem many modules deep"
I'm trying to use fe to run jasmine on my browserified code:

   var jasmine = proxyquire('gulp-jasmine', { 'fs': fe.fs })

[code]

But jasmine still tests the unbrowserified code! It seems like proxyquire is only replacing `fs` one level deep. I need everything that `gulp-jasmine` requires to also use the stubbed fs module.

[2014-03-29 16:04] #15 closed, assigned to nobody

[2014-03-29 16:04] #12 closed, assigned to nobody

[2014-03-29 16:04] #16 closed, assigned to nobody

[2014-03-29 16:05] #17 closed, assigned to nobody

[2014-03-29 16:06] #22 closed, assigned to nobody

[2014-04-02 16:04] #21 closed, assigned to nobody

[2014-04-02 16:05] #20 closed, assigned to nobody

[2014-04-06 14:27] bitsoflogic opened #28 "Enhancement"
Hey,

I've been giving it a good bit of thought and I think I can squash the global issue without breaking compatibility and without forcing users to use `noPreserveCache`.  I'm sure those methods are still helpful for other edge cases that we haven't thought of, but please consider this solution.

_Current_

[code]

_New_

[code]

I'm really leaning towards a PR for this.  Of course, at that poin

[2014-04-06 20:17] mlito opened #29 "Mocking internal class"
Hello
I'm trying need to mock third party class (
This is code to be tested:

/_myclas.js_/
tps = require('tps');
myClass.prototype.myFunction(){
  tpsInstance = tps.InClass();
  .....
};
Unit test code

tps = proxyquire('myclass',{tps:tpsStub});
....

/_tpsStub_/

function tpsStub() {
   this.InClass() = function(){
       .....
   }
}
When called tpsInstance = tps.InClass(); (from code above) -

[2014-04-08 09:26] achingbrain opened #30 "Global overrides"
This was touched on in #22 and #16, but would it be possible for proxyquire to override require globally rather than only one level deep?

The API could look similar to no-call-through:

[code]

My use case is a little outside of proxyquire's usual remit.  I'm writing a [workshopper](https://github.com/rvagg/workshopper) based tutorial where the user submits a solution, A, to a problem.  A require

[2014-04-10 19:59] #28 closed, assigned to thlorenz

[2014-04-15 18:36] #29 closed, assigned to thlorenz

[2014-05-07 21:58] kentaf opened #31 "Cyclic Dependencies"
I am running into an issue that probably many ppl have who use express along with proxyquire, since express projects usually have a cyclic dependency in their setup. But this issue could really occur in any project with 2 files requiring each other. For demonstration purposes, I gonna sketch out an example with express (sorry for making this so verbatim and if I go through some very basic express

[2014-05-12 09:36] snatchblock opened #33 "failure of fakeStub for certain require modules when used in combination with blanketJS"
proxyquire has an issue when combined with blanketJS

<pre>
    var foo = proxyquire('foo', { 'path': pathStub }); //is ok
    var bar = proxyquire('./bar', { 'path': pathStub }); //not okay
</pre>

the bar gets fully parsed into absolute path say "_c:\node\website\xyz\lib\bar.js_".

**Cause:**
I observed that this is happening as a result of **require.extensions[extname]** also being present in t

[2014-05-15 17:11] #30 closed, assigned to thlorenz

[2014-05-23 06:36] davejhilton opened #35 "noPreserveCache doesn't seem to work in 1.0.0"
Somewhere between 0.6.0 and 1.0.0, the noPreserveCache function no longer appears to be doing what the documentation says it will do.

I have a situation similar to the one described in #25— Imagine I have the following files:

**foo.js:**

[code]

**usesFoo.js:**

[code]

**usesFooUnitTest.js:**

[code]

**integrationTest.js:**

[code]

Since I have a grunt build that runs unit tests immediately

[2014-05-23 13:26] #33 closed, assigned to thlorenz

[2014-05-28 10:03] mgol opened #36 "Proxyquire messes up with columns"
I wanted to mock the chalk module used in ESLint; I might have forgotten about sth and I got an error in mocha:

[code]

Look at `./eslint/lib/formatters/stylish.js:9:1244` - this file definitely doesn't have such long lines. It's hard to see where an error occurs since there is actually nothing in this line: https://github.com/eslint/eslint/blob/0da23b8f365e0cb1e60e0fc456d8c46735e3a1b2/lib/format

[2014-05-30 13:09] mgol opened #37 "Proxyquire seems to break stack traces"
I'm trying to mock the [chalk](https://github.com/sindresorhus/chalk/) module for [ESLint](https://github.com/eslint/eslint) tests to be able to test the stylish formatter:
https://github.com/eslint/eslint/blob/master/lib/formatters/stylish.js
Unfortunately, this seems to break stack traces which makes it harder to find where the problem is. I'm mocking `chalk` `red` & `yellow` methods via:

[code

[2014-05-30 16:09] #35 closed, assigned to thlorenz

[2014-06-01 16:50] #36 closed, assigned to thlorenz

[2014-06-01 16:51] #31 closed, assigned to thlorenz

[2014-06-21 22:45] #37 closed, assigned to nobody

[2014-07-24 03:10] ghost opened #39 "Example with express+selenium"
Hi,

I got referred to proxyquire by Steve Cresswell, the guy behind BDD framework Yadda.

I'm liking the look of proxyquire.

As a relative noobie to Javascript and nodejs/express - I'm hoping for a leg up with an example of using proxyquire with express+node+selenium to use with my Yadda tests.

I'm struggling to see how we can bootstrap the fake within this environment.

The web page is calling

[2014-07-24 14:34] yamsellem opened #40 "Working with relative paths"
Writing the following seems impossible:

[code]

Is there something wrong in this?
Thanks for your help.

[2014-07-24 17:27] #40 closed, assigned to nobody

[2014-07-31 20:30] #39 closed, assigned to nobody

[2014-08-29 10:45] bevacqua opened #41 "Relative paths for sub-modules?"
Hi, I have an use case where I define some routes directly in a `routing.js` file, and some other routes are defined by another package. This other package uses `path.resolve(modulepath)` and then `require`s that. I've tried a lot of different things, but I wasn't able to figure out what path I should use so that proxyquire is able to mock those.

The use case would be testing that the other packa

[2014-08-30 15:41] #41 closed, assigned to nobody

[2014-09-12 07:20] ghachey opened #42 "Stub not overriding original"
Hi,

I realize I'm probably doing something wrong, but I've tried several things and no matter what I do I can't get my stubbed function to run within my module under test. I have no problems when experimenting with variations of provided samples including the sinon one. I'm hoping a more experienced pair of eyes could help me out a little.

Module under test with nano, the couchdb module dependen

[2014-11-18 16:35] tristanls opened #45 "noPreserveCache() option should be "on" by default"
I just ran across this issue. I am using `nodeunit` and an independent test in its own module failed because some other test used `proxyquire`. Using `noPreserveCache()` everywhere I used `proxyquire` "fixed" this issue, but this is unexpected and in my view violates "the Node.js way" expectation of all my modules not sharing global anything.

We are now using https://github.com/felixge/node-sandb

[2014-11-18 17:04] #45 closed, assigned to nobody

[2014-11-19 15:13] ninjatronic opened #46 "Proxyquire cannot stub non-object imports"
Say I have a module `options.coffee`...

[code]

I want to stub it for a test...

[code]

This will fail in the before block, because Proxyquire cannot mock non-object exports. The error is:

[code]

[2014-12-03 06:03] abelnation opened #48 "Request: ability to stub non-existent modules"
Often, your dev environment does not match your production environment.  Some custom system modules cannot be installed on my local laptop dev machine, and it would be extremely handy to be able to stub modules that are otherwise not available on the system.

Perhaps this is via an explicit flag, such that you have to proactively specify it, so as not to introduce typo errors.

A simple try/catch

[2014-12-12 03:46] #46 closed, assigned to nobody

[2015-01-07 21:08] #48 closed

[2015-02-25 20:06] marbemac opened #51 "io.js support?"
Hi, everything works OK in node 0.12, but in io.js 1.3 I get the error below. Looks like for some reason mdl is read-only? Does anybody have this working in io.js?

The error occurs here: https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L15

[code]

[2015-02-26 19:39] thlorenz commented on #51
I've no idea why that happens.
Could you reference this is in an io.js issue please? It might be an io.js regression.

[2015-03-02 16:26] bendrucker commented on #51
Fixed in 16f66f3f811cd615b8a1ff520a89e3fee6bad8db

[2015-03-02 16:26] #51 closed

[2015-03-02 16:30] bendrucker commented on #42
Closing this as it's not clear what's going on here

[2015-03-02 16:30] #42 closed

[2015-03-03 08:49] vasanthps opened #54 "Support for node-webkit?"
We have a node-webkit app, that has angularjs services and we 'require' node modules inside them. These files do not have any module.exports. We are writing unit test cases and we want to mock the require's present in these files. Any plan to support this case in future?

Thanks

[2015-03-03 09:11] yoshuawuyts commented on #54
I've used `nw.js`/`node-webkit` with `proxyquire` in the past. I don't completely understand what you're doing, but it should be possible to use them together.

[2015-03-03 09:30] vasanthps commented on #54
<B>foo.js</B>
[code]

Would I be able to proxyquire the require's present in foo.js for unit testing?

[2015-03-03 12:45] bendrucker commented on #54
Sure, just do `proxyquire('./foo'. {'custom-module': stub})`

Not sure what I'm missing here — nothing special about this case.

[2015-03-03 12:45] #54 closed

[2015-03-03 12:56] vasanthps commented on #54
The difference is:-
1. Unit tests are run in node-webkit environment
2. The foo.js does not have module.exports, because it is angular (client) code clubbed with v8 code, this would run fine in nw.

[2015-03-03 13:01] bendrucker commented on #54
Neither of those helps us understand whether you've tried this and if so why it's not working.

[2015-03-04 01:38] thlorenz commented on #54
@vasanthps if it's not using `require` it won't work with proxyquire since that depends on `require` extensions.
You'd need to find another tool for your case.

[2015-03-04 04:44] vasanthps commented on #54
@thlorenz Thanks :)

[2015-03-08 16:33] raine commented on #46
I think it would be great if the README had at least one example for stubbing a module that exports a single function directly. It's such a common use-case.

[2015-03-09 17:24] thlorenz commented on #46
@raine PRs welcome :)

[2015-03-22 13:46] raine opened #55 "@noCallThru with modules that export a single function?"
How can you pass `{ @noCallThru: true }` in case of

[code]

Cheers.

[2015-03-22 15:16] thlorenz commented on #55
Explained in detail in the docs, please reread them.

[2015-03-22 15:16] #55 closed

[2015-03-22 15:59] raine commented on #55
Are you referring to `proxyquire.noCallThru()` because that's the only thing I could find, and that changes proxyquire globally which is not a nice thing.

[2015-03-22 16:18] thlorenz commented on #55
Please carefully read [this](https://github.com/thlorenz/proxyquire#preventing-call-thru-to-original-dependency). That shows per stub `@nocallthru`.

[2015-03-22 16:37] raine commented on #55
Hmm, are we on the same page?

I'm sorry if I wasn't clear but in this case `../module` is something that directly exports a function with `module.exports`. Therefore you can't give an object with `@noCallThru` in `{ '../module': moduleStub }`.

I ended up wrapping my `proxyquire` call with `proxyquire.noCallThru()` and `proxyquire.callThru()` to resume the original behavior.

[2015-03-22 21:11] thlorenz commented on #55
All you need to add is that `@noCallThru` property, how is not important.
`moduleStub[@noCallThru] = true` should work.

[2015-03-25 03:06] TheSavior opened #56 "Globally override a module that returns a function"
I know that you can set `'@global': true` in the stubs for modules that are objects, but how do you do it for modules that return functions. For example:

[code]

[code]

[code]

Deepest returns a function that I need to mock out, but since it is used inside of Deep, I have to use `@global`.

If deepest was exporting the inner object instead of the wrapping function, I could do this:

[code]

But

[2015-03-25 03:45] bendrucker commented on #56
Sure you can! Just assign create a function assigned to a variable and then set `deepest['@global'] = true`.

[code]

[2015-03-25 03:45] #56 closed

[2015-03-25 05:45] TheSavior commented on #56
Neat. Thanks!

[2015-03-25 12:29] thlorenz commented on #56
Seems like we need to add these special cases to the docs and/or a wiki.

[2015-03-25 15:51] bendrucker commented on #56
Sure. I think it merits its own section under `API`. Wikis don't actually get read. Agreed?

[2015-03-25 15:54] thlorenz commented on #56
Agreed, currently we don't even have a wiki to speak of :)

[2015-03-26 19:03] raine commented on #55
Makes sense. Thanks for patience!

[2015-04-06 15:51] stephanos opened #58 "fail for non-existing path?"
When I stub a path that does not exist, no error is thrown (correct me if I'm wrong). To prevent confusion, It would be *very* helpful to not silently accept ineffective stubs.

[2015-04-06 16:02] bendrucker commented on #58
Not sure if I'm understanding you correctly.

Given:
[code]

Are you asking for `proxyquire` to throw here?

[2015-04-06 16:05] stephanos commented on #58
Exactly.

But often it's more subtle, e.g. I rename a file and it's not found *anymore*, I miss a `.` at the beginning of relative files etc.

[2015-04-06 16:25] bendrucker commented on #58
Okay. Unfortunately that's not possible.

---

Node requires are dynamic and so even if we wanted to take on the burden of doing static analysis it doesn't work anyway:

**test.js**
[code]

**exists.js**
[code]

So the route of using [has-require](https://github.com/bendrucker/has-require) to see if that file contains `require('ben-does-not-exist') is out.

---

A dynamic approach that tries to `r

[2015-04-06 16:25] #58 closed

[2015-04-06 16:59] stephanos commented on #58
Well, 99.9% of the time in *my* code base I do *not* use a dynamic or conditional `require`. I don't quite understand why there couldn't be a strict/validation mode just because there are a few edge cases.

Anyway, is there any way I can do the verification myself?

[2015-04-06 17:44] thlorenz commented on #58
@stephanos You could totally write a proxyquire validator.
What it would do is parse the code, find all calls to proxyquire and reason about if the stubs are set up reference files that exist.

However if you don't use the `@noCallThru` option proxyquire will try to find the actual file and therefore should fail immediately if it doesn't exist.

If this is not so please supply a test that shows th

[2015-04-12 18:18] rizowski opened #59 "Doesn't seem to be overriding require?"
I am not sure what is going on but I have been trying multiple mocking/require hijacking libraries to see if I can mock some of my dependencies. I like proxyquire but the problem being proxyquire doesn't seem to be giving me my mocked objects.

[code]

[code]

Folder structure is:
[code]
Is that not the way this is supposed to be set up? I have checked to see if the `parser` object that `item` use

[2015-04-12 23:48] bendrucker commented on #59
The keys in the proxyquire call's second arg need to match the requires in your source code.

[code]

[2015-04-12 23:48] #59 closed

[2015-05-05 02:20] sarbbottam opened #61 "How to reset/un-mock the mocked dependency in proxyquire?"
File structure:
---
[code]
Use case:
---

With respect to the above file structure, `./lib/foo.js` requires `./lib/bar.js`, `./lib/bar.js` requires `./lib/baz.js`.

---

While unit testing `./lib/foo.js` via `./test/foo.js`, I would like to mock `./lib/bar.js`, so that, I am only concerned with `./lib/foo.js`.
Once the tests in `./test/foo.js` are over I would like to reset/un-mock `./lib/bar.js`.

[2015-05-05 03:16] bendrucker commented on #61
I don't really know how mockery works, but proxyquire offers what I see as a dramatically more useful and sensible API. Because you pass the stubs as part of the `proxyquire` call, your stubs don't leak out and require explicit deregistration as with mockery.

[code]

[2015-05-05 03:16] #61 closed

[2015-05-05 03:18] bendrucker commented on #61
And if you need to prevent the modules themselves from being cached (i.e. the first argument to `proxyquire`) you can control the require cache:

https://github.com/thlorenz/proxyquire#forcing-proxyquire-to-reload-modules

[2015-05-05 03:23] sarbbottam commented on #61
Thanks @bendrucker

[2015-05-08 09:11] jakubholynet opened #62 "Support for Webpack?"
Hello,

Thanks for this great library! I wonder whether there are any plans to support also Webpack in addition to Browserify. How large job is it to add support for it?

Thank you!

[2015-05-08 09:21] jakubholynet commented on #62
I see that [rewire](https://github.com/jhnns/rewire) runs on Node but also [supports webpack](https://www.npmjs.com/package/rewire-webpack) so may be that is a reasonable option? (Though I prefer proxyquire's API)

[2015-05-08 14:45] thlorenz commented on #62
Have a look at [proxyqurieify](https://github.com/thlorenz/proxyquireify) and [proxyquire-universal](https://github.com/bendrucker/proxyquire-universal).
They work with browserify via plugin or transform.
Not sure if webpack supports that.

FWIW all this is explained in the [first paragraph of the README](https://github.com/thlorenz/proxyquire#proxyquire-)

[2015-05-08 15:00] bendrucker commented on #62
No plans to support Webpack specifically since neither of us use it. If someone really wanted to invest the time I'd be willing to help offer guidance. Otherwise it's just not very high on my list.

I'd really recommend not using rewire. Using eval to write unit tests is a really bad idea in principle, but it can also create a ton of compatibility headaches as well. Most transpilers (e.g. Babel) c

[2015-05-08 15:00] #62 closed

[2015-05-12 06:48] jakubholynet commented on #62
Thank you. I have looked briefly at the code of proxyqurieify, proxyquire-universal, and rewire-webpack and it seems to be no simple matter to port proxyquire to a new build tool so I guess I will need to use rewire :-(

[2015-05-12 16:09] thlorenz commented on #62
Actually this is a good reason to switch to browserify.
We are opinionated obviously, but it's modular plugable nature makes packages like proxyquireify possible.
Or you stick with webpack until you run into the next nice thing you can't have ;)

[2015-05-13 09:10] jedrichards commented on #62
Just noticed a new Babel plugin inspired by rewire. Thought it might be of interest: https://github.com/speedskater/babel-plugin-rewire

[2015-05-15 19:12] alexjamesbrown opened #63 "Possible to stub constructors?"
For example-

In my 'email.js' I have:

    var mandrill = require('mandrill-api/mandrill');
    var mandrill_client = new mandrill.Mandrill('API_KEY_HERE');

    exports.sendTemplate = function(templateName, to, variables, callback) {

        console.log('mandrill_client === ', mandrill_client)

        var message = {
            //omitted for brevity
        };

        mandrill_client.message

[2015-05-15 19:21] bendrucker commented on #63
Sure -- there's nothing special here. Proxyquire is changing what `require` itself returns. You're not mutating shared values and so you specifically can stub constructors and other primitives that you can mutate through a shared reference.

Here's a rough start to get you going:

[code]

[2015-05-15 19:21] #63 closed

[2015-05-15 19:22] alexjamesbrown commented on #63
brilliant, thank you! I'd got myself in a bit of a muddle!

[2015-05-15 19:28] bendrucker commented on #63
You're quite welcome! What I mean by the above comments is that often times you may be able to do something like this:

[code]

[code]

For testing `simple` don't actually need proxyquire, though explicitly providing module stubs might be a good idea. Whereas if you needed to change `foo` itself (i.e. for `hard`), you can't accomplish that without proxyquire.

[2015-05-18 18:01] matthewwithanm opened #64 "Special handling for transpiled ES6 modules?"
Currently, if you want to stub a transpiled es6 module, you need to do something like this:

[code]

The `__esModule` is used by tools like Babel and Traceur to deal with module format interop. It would be convenient if proxyquire automatically added it to the stub if present in the original.

[2015-05-18 20:24] bendrucker commented on #64
Proxyquire is already supposed to do something to this effect generically. Unless you enable `noCallThru` mode globally or for a particular stub, proxyquire will copy properties that don't exist on the destination:

https://github.com/thlorenz/proxyquire/blob/02b257837b381cb162dddea1de541de7b2984143/lib/proxyquire.js#L11-L19

If you're not seeing that then it's a bug. Can you post a reproducible e

[2015-05-18 21:42] matthewwithanm commented on #64
`__esModule` is added using `Object.defineProperty` without the enumerable flag (at least with Babel), so `Object.keys` won't see it.

[2015-05-19 08:46] bendrucker commented on #64
Right, totally forgot `enumerable` is false by default. Someone actually just reported a proxyquire*ify* bug with the same bit of code (thlorenz/proxyquireify#32). I'm going to pull out the fill-in code into its own module and I'll handle this there.

This doesn't need to be a special case. Instead of copying the properties directly I'll just copy the descriptors. Getters and setters would then wo

[2015-05-19 13:33] matthewwithanm commented on #64
👍Awesome, thanks!

[2015-05-20 06:56] #64 closed

[2015-06-08 19:03] seanzx85 opened #67 "Proxyquire Failing to load stubbed content"
Hi,

I really like using proxy quire but I have been running into a strange issue.  When i stub a required object, the original is loaded.  If i npm remove the object it throws 'Cannot find module'.  So i created the smallest use case for this.

File: demo.js
[code]

Test Case: demo.spec.js

[code]

run
[code]

launch test with
[code]

The first test will pass if you remove the 'var doesNotExist =

[2015-06-08 19:17] bendrucker commented on #67
This is expected behavior. proxyquire goes and gets the original so that your stub object only overrides the methods you specify and others work as expected. If you want to disable this, you can do so either per module or per proxyquire instance:

https://github.com/thlorenz/proxyquire#preventing-call-thru-to-original-dependency

[2015-06-08 19:17] #67 closed

[2015-07-03 04:33] arasmussen opened #68 "Is it possible to assert that what I proxyquired was actually required?"
[code]

Can I do something along these lines in order to ensure that my ../bar path hasn't changed since I stubbed the file? This would be helpful for a constantly changing codebase in case the stubbed file moves and then is no longer stubbed.

[2015-07-03 12:26] bendrucker commented on #68
No, that's not something proxyquire can/will do with the API specified. Even an events interface doesn't seem feasible. Proxyquire is a singleton and so the amount of info you'd have to spit out to actually try to do this check would be pretty substantial.

If you can come up with some ideas on how to implement this and ideally even play with a PR, we can definitely reconsider. Otherwise, the best

[2015-07-03 12:26] #68 closed

[2015-07-15 20:08] doron2402 opened #70 "Cant proxy when path is variable"
I'm using a variable (__BASE) for the root directory but seems like its not working.

Is there an easy fix for that?

that's working great:

[code]

but when I'm changing the `'../services/location'` to `__BASE + /app/services/location` or `SERVICE_LOCATON_PATH` or the es6 syntax its not working.

Thanks.

[2015-07-15 21:36] bendrucker commented on #70
Please highlight your code and stick to ES5 so we can read it

[2015-07-15 22:39] thlorenz commented on #70
Took care of the highlighting makes more sense now.
Please don't use `__BASE` variables. As you can see you're confusing yourself and others.
Just use relative paths.

FWIW proxyquire should be able to handle either just make sure that the strings that you use to replace modules are the exact same as how you are requireing them in the module you are testing.
I have a hunch you're using `__BASE` st

[2015-07-17 17:20] doron2402 commented on #70
@bendrucker es5 translation:
when __BASE is global variable
global.__BASE = __dirname inside index.js
var locationService = {
locationService.sayHi: function(){}
};
proxiedLocation = proxyquire(__BASE + '/app/adapters/location',{
    '../services/location': locationService
 });

[2015-07-17 17:22] doron2402 commented on #70
@thlorenz why not using global variable for path? its make life easier
all you need to do inside your index.js (first file that execute could be whatever)
if (!global.__BASE) {
  global.__BASE = __dirname;
}

then all over my code I can just
var userController = require(__BASE + '/controllers/users');

[2015-07-17 18:02] bendrucker commented on #70
Again, please highlight your code. The reason to not do what you're doing is that your only valid JS file in your projects is your index file. Any other file can't be run on its own.

[2015-07-24 20:19] #70 closed

[2015-07-31 10:29] vvo opened #71 "Cannot use with transpiled modules"
Following #64, I still cannot use `babel-node test.js`, proxyquire will have no effect:

module.js
[code]

test.js
[code]

In a terminal:
[code]

What can I do?

[2015-07-31 13:33] thlorenz commented on #71
Please create a full sample project so we can have a look.
Set it up so we can clone it and then `npm install && npm test` to see the problem.

[2015-07-31 13:48] vvo commented on #71
Dunno what happened, it works now.. mehhhh will reopen if it's redoing it again. Thanks

[2015-07-31 13:48] #71 closed

[2015-08-06 14:41] epchris opened #72 "Paths passed to proxyquire must be relative to the file that actually required proxyquire, not to the currently executing test"
In a lot of our tests we want to centralize test bootstrapping so we've put loading of proxyquire into a centralized bootstrap file.  So in a given test file this ends up looking like this (coffeescript):

`{proxyquire} = require '../helpers/bootstrap'`

When doing this , all of my calls to `proxyquire(...)` need to have the path relative to the bootstrap.coffee file and not the test file.

To tes

[2015-08-06 14:50] bendrucker commented on #72
Nope, this is just the way requires work. They're always relative to the file in which they run.

[2015-08-06 14:50] #72 closed

[2015-08-06 15:15] epchris commented on #72
@bendrucker I understand that the actual call to require is done in proxyquire, but why would it matter where proxyquire was originally required?  The call to `proxyquire('../../foo/bar')` is in the actual test itself and so I hoped the path would be relative to the test.  Thanks for taking the time to explain.

[2015-08-06 16:20] bendrucker commented on #72
Think about this in plain Node terms — what you're basically doing is this:

[code]

[code]

`require` is a special global that is localized to each module. You can pass it around, but it will always be bound to the module it was created for.

[2015-08-17 20:24] kkragenbrink opened #73 "undefined hasOwnProperty?"
I'm a little baffled by this one, because hasOwnProperty is a part of node core. Using node-v0.12.7 and proxyquire-1.6.0.

[code]

[2015-08-17 20:33] thlorenz commented on #73
Looks like you passed `undefined` or `null` as stubs.
If you need more help, please push your code to github so we can just clone it and run `npm test` to see the problem.

[2015-08-17 20:38] kkragenbrink commented on #73
Unfortunately this code is proprietary software and I cannot publish it anywhere.  I have double checked every call to proxyquire() that I've made, and in all of them, the second argument is a valid object.

[2015-08-17 21:00] bendrucker commented on #73
It's not the object, it's the values:

https://github.com/thlorenz/proxyquire/blob/d96e4d8bcdce42cb997fed4172b869dbd9f7d7ee/lib/proxyquire.js#L115-L117

You must have a key that's `undefined` -- `null` is handled. Not a fan of taking undefined in order to indicate that a stub shouldn't be available, but we could throw when `undefined` shows up.

[2015-08-17 21:09] bendrucker commented on #73
This is not a proxyquire bug but I opened #74 so the error is more helpful

[2015-08-18 01:07] thlorenz commented on #73
LGTM please merge to master.
Also I added you as a collaborator on npm so now you can publish changes (I'm sure we agree on how to version things, so I'll leave that to you). i.e. this should be a minor upgrade IMO since it could break edge cases (not quite worth a major though).

[2015-08-18 01:28] #73 closed

[2015-08-22 05:10] webteckie commented on #35
Instead of opening a new issue, I'll post here just in case my setup is wrong.  I'm using the latest (just upgraded from 1.5.0, which also seem to have the same issue).  The noPreserveCache() appears not to be working for me:

Have a bunch of unit test modules that start with:
[code]

keystonejs-stub is basically just:
[code]

When my unit tests run I only see a single "****NEW KEYSTONE INSTANCE**

[2015-08-24 18:42] bitsoflogic commented on #35
@webteckie Consider this setup...

keystone.js
[code]

keystone-caller.js
[code]

test/keystone-test.js
[code]

Without using `noPreserveCache` the second test would fail.  By using it, it calls a `delete require.cache...` on `keystone-caller.js`.  This forces the `keystone-caller.js` to make a fresh call to the `keystone.js` file when it is used next.  The `keystone.js` file does not need to be r

[2015-08-25 02:54] cmelion opened #76 "react-dnd: Using Proxyquire to stub sub-components in unit tests results in test failure."
Anyone run into this?
https://github.com/gaearon/react-dnd/issues/268
https://github.com/cmelion/react-hot-boilerplate/tree/Invariant-Violation-DND

[2015-08-25 03:15] bendrucker commented on #76
Nope. If you can provide more info I can try to look into it. But I don't use React so I won't be able to help much unless you can offer some direction.

[2015-08-25 03:15] bendrucker commented on #76
Didn't mean to close this. Happy to discuss but we do need more context (and not a link to a lengthy React-specific discussion).

[2015-08-25 08:14] cmelion commented on #76
Hey Ben,
Thanks for responding.  This certainly isn't an issue with proxyquire and may not be a react-dnd problem either (it might be react contexts in general), I was just hoping someone using proxyquire had run into the problem and had a workaround.  Failing that, it seems useful to have some reference here for a solution once it is found, which does not require this issue to remain open.

As fa

[2015-08-25 15:00] bendrucker commented on #76
Got it. If I can help explain how proxyquire accomplishes what it does, feel free to ask for clarification.

[2015-08-25 15:00] #76 closed

[2015-08-25 18:20] cmelion commented on #76
The invariant violation goes away when I omit: "@global': true

Removing @global has the side-effect of breaking
[code]

[2015-08-25 18:42] cmelion commented on #76
Issue resolved using:
        const subComponent = React.findDOMNode(comp).querySelectorAll('.simple-subcomponent');
        should(subComponent.length).equal(1);

[2015-09-02 01:42] gyandeeps opened #77 "A way to fake require.resolve function"
To start I want to say its an excellent module. Thanks for the great work.

Now I do use proxyquire to fake certain modules, that works great. But in my application i use the function `require.resolve` function to get the path of the dependency but I am not able to fake it.

Example code:
[code]

Since I use proxyquire so `require` works but it throws an error on line 3.

[2015-09-02 02:12] bendrucker commented on #77
We'll happily review a PR. This is a sufficiently rare use case that I doubt either Thorsten or I could make time for it.

[2015-09-02 03:31] thlorenz commented on #77
This has nothing to do with proxyquire which just allows you to override what `require` returns.
You're asking to override an entirely different function that just happens to be attached to `require`.

So even a PR would stand low chances of being merged. Better create another module for that or simply do this:

### 1. Create module `require-resolve.js`:

[code]

### 2. Use it in your code i.e. in

[2015-09-02 14:12] gyandeeps commented on #77
Awesome, thanks a lot @thlorenz . That helps a lot.

[2015-09-02 15:22] thlorenz commented on #77
You're welcome.
Just as a note if your `require-resolve` needs to be fast then don't use `bind`, but this instead:

[code]

[2015-09-02 15:35] thlorenz commented on #77
@gyandeeps since you like this so much how about adding a simple example to the [examples](https://github.com/thlorenz/proxyquire/tree/master/examples)/wrap or so?

We could point to it from the readme. Maybe we should also add an _Advanced Techniques_ section where we show these kind of things.
Thoughts @bendrucker? Could also go in the wiki and be linked from the Readme (from my experience peopl

[2015-09-02 15:37] gyandeeps commented on #77
Will do that. Can you please assign this issue to me so that it comes up on my todo list.
fyi, I might take some time to get to this.
Thanks

[2015-09-02 15:38] bendrucker commented on #77
I think it's fine to put it in the wiki and then link from the readme. The only difference between that and examples is that we'd merge a PR to examples whereas the wiki is public read/write.

[2015-09-02 15:38] bendrucker commented on #77
Can't assign non-collabs to an issue, sorry

[2015-09-02 15:39] thlorenz commented on #77
Adding @gyandeeps.
And in that case just creating a nice wiki page with Advanced Section showing the above example will suffice.
Still add this to the examples in the Readme as well (link it from wiki) so people can run it.

[2015-09-02 16:16] thlorenz commented on #77
Don't reopen this. Your issue is solved.
If you need to track progress we can do so in the PR once you submit it.

[2015-09-02 16:16] #77 closed

[2015-09-03 09:33] alappe opened #78 "Problems mocking fs module"
I use proxyquire a lot while testing and all is working fine, except when I try to mock the `fs` module. The shortest example:

[code]

Leads to:

[code]

Am I missing something here?

proxyquire: v1.7.1
nodejs: v0.12.7

[2015-09-03 13:09] bendrucker commented on #78
That's how proxyquire is meant to work. When you pass null as a stub, it simulates that module being unavailable.

[2015-09-03 13:09] #78 closed

[2015-09-03 14:09] alappe commented on #78
Ah, dang… sorry! I meant to override it further down, but skipped it for now…

[2015-09-15 20:26] volkanunsal commented on #62
I'm coming here after trying the Babel plugin. It doesn't support function imports. I had high hopes for this library, but I can't use it without Webpack support.

[2015-09-23 23:04] brycefisher opened #80 "Add documentation: Only works on functions"
I've run into situations where I want to modify the global config object (which is basically just json). Proxyquire seems like an excellent tool for this, but after much trial and error I've come to the (correct?) conclusion that this module is only designed to work on replacing functions that are dependencies of a module, not values. It _might_ be helpful to document proxyquire doesn't change val

[2015-09-23 23:29] bendrucker commented on #80
Can you share an example of something that's not working? Treating modules as mutable objects is definitely not a good idea.

[2015-09-25 19:36] brycefisher commented on #80
I don't mean to get into a religious war -- I'm just trying to clearly understand and articulate the purpose of this module.

Am I correct to say that proxyquire does not let you stub values only functions?

[2015-09-25 19:43] bendrucker commented on #80
Easiest way to discuss this is with code

[2015-09-25 21:01] brycefisher commented on #80
@thlorenz am I correct to say that this module only replaces functions and not values? If so, could the documentation state that more clearly?

[2015-09-25 21:12] bendrucker commented on #80
Proxyquire uses [fill-keys](https://github.com/bendrucker/fill-keys) to copy between objects and I'm not aware of any reason why anything else should behave differently. A failing test would be a huge help so I can run with this quickly and figure out what's up.

[2015-09-25 21:15] brycefisher commented on #80
Gotcha -- let me see what I can do in that department.

What I was trying before was:

[code]

[2015-09-25 21:17] bendrucker commented on #80
Awesome -- doesn't need to be a true failing test PR, but just anything so that we're sure we're on the same page here.

[2015-09-25 21:34] gyandeeps commented on #80
@brycefisher Can you try with this test code
[code]

[2015-09-28 19:02] farolfo opened #81 "Multiple proxyquires of the same module returns undefined in all responses but the first one"
I'm stubing a dependency using proxyquire.
In these tests, I'm using mocha and chai, like:
[code]
The first proxyquire works gret, but if I repeat another one next to the first one, it returns undefined as answer.
Could anyone point me if I'm missing some initialization of proxyquire if I'll require the same module multiple times? This blocks the tests by now. Thanks !!

[2015-09-28 20:24] bendrucker commented on #81
Can you please post a simpler example in a new repo that doesn't use Mocha and Chai? I'll clone it and investigate. Ideally I'd run `npm test` and have it fail.

[2015-09-29 15:34] farolfo commented on #81
Closed, it was an issue on my code that prevent the module to be loaded correctly again.

[2015-09-29 15:34] #81 closed

[2015-10-05 09:05] jamestalmage opened #82 "bug when trying to mock `date-now` module"
Minimal repro here: https://github.com/jamestalmage/proxyquire-datenow-bug

Output
[code]

It throws before the assertion is ever run.

This fixes it:
[code]

But I don't see why it's required to use `noCallThru()` here.

[2015-10-05 14:36] #82 closed

[2015-10-05 14:36] bendrucker commented on #82
So apparently `Date.now` doesn't have a prototype

![The More You Know](http://i.ytimg.com/vi/GD6qtc2_AQA/sddefault.jpg+)

[2015-10-05 16:03] jamestalmage commented on #82
LOL.

I'm stealing that.

[2015-10-06 22:27] sbowler opened #83 "Loading C++ addon Node 0.12.2 Modules"
Hello,

It looks like we are having some problems trying to load a C++ addon built with Node 0.12.2. We have a module we are trying to proxyquire and it requires a C++ addon binary file for node. We get the error "Module did not self-register." on line 243 of proxyquire.js.

It looks like your code is not compatible with this version of Node based on https://github.com/sass/node-sass/issues/653 wh

[2015-10-06 22:35] thlorenz commented on #83
The error you're seeing is related to the module being incompatible with the version of node you're using.
Try the `.noCallThru` option and see if that works.
But since proxyquire doesn't do anything C++ related your problem couldn't be solved here afaik.

[2015-10-06 22:43] sbowler commented on #83
I'm quite certain the module is built with the same version of node. It looks like the ```.noCallThru``` option is the way to go anyways. As you can imagine we aren't that concerned about unit testing the C++ addons. Thanks for the help.

[2015-10-06 22:43] #83 closed

[2015-10-06 23:13] bendrucker commented on #80
Any updates?

[2015-10-07 05:33] brycefisher commented on #80
Ugh -- my bad! Sorry I got distracted over the weekend. Let me give this another go...

[2015-10-07 11:29] 360disrupt opened #84 "Problems When Overriding Own Module"
The second unit tests which is similar to the example works. The first one fails and still opens the original function.

## Test
[code]

## foo
[code]

I hope the coffee is not to hard to read `(xyz)->`means `function(xyz){};`, everything indented has brackets around it

Could this be related to, that my coffee compiler wraps the original function into an anonymous function?
[code]

[2015-10-07 14:01] bendrucker commented on #84
`{'apiService': apiServiceStub}` is wrong -- should be `{'../api/api.service.js': apiServiceStub}`. You want to use paths relative to the file being proxied. It's not tied to variable names like [rewire](https://www.npmjs.com/package/rewire), cuz that's just crazy.

[2015-10-07 14:01] #84 closed

[2015-10-07 14:03] bendrucker commented on #80
Awesome, thank you. #82 was the first proxyquire bug in quite a while so I'd love to track this down as well.

[2015-10-08 07:13] 360disrupt commented on #84
Thank you Ben, that was exactly the issue.

[2015-10-12 15:04] LinusU commented on #80
I belive the problem to be that you pass `config` as the key but `foo.js` is requiring it as `./config`.

[code]

[2015-10-12 15:22] LinusU opened #86 "Would it be possible to use `require.resolve`?"
One thing that is a bit of a gotcha, and also quite annoying in some situations, is that proxyquire requires you to know the exact string that the required module will use to require a mocked dependency.

Would it be possible to use `require.resolve` in order to use the canonical paths to the modules?

[2015-10-12 15:41] bendrucker commented on #86
Not really possible. The algorithm requires checking the filesystem and falling back to a set of options in series. If the files in question don't actually exist, `require.resolve` can't help.

[2015-10-12 15:41] #86 closed

[2015-10-12 15:42] bendrucker commented on #80
Good eye @LinusU! If this is actually a pq issue we can reopen.

[2015-10-12 15:42] #80 closed

[2015-10-12 15:46] LinusU commented on #86
But surely the files do exists? Otherwise it wouldn't function without the mocks?

[2015-10-12 15:51] bendrucker commented on #86
Not necessarily. Proxyquire is happy to mock stuff for you that doesn't exist if you use `noCallThru`.

[2015-10-12 16:01] LinusU commented on #86
Are you sure that we are talking about the same thing? I guess it's true that proxyquire could do that, but why would you ever want to? The file would then only be able to load with proxyrequire?

**a.js**
[code]

**b.js**
[code]

[code]

---

What I'm proposing is that this would work:

**test/basic.js**
[code]

Which it currently doesn't since the `lib/parser/api.js` file will make it includes a

[2015-10-12 16:16] bendrucker commented on #86
You'd want it if you were testing a scenario where some module were missing, either a relative path one or a node_modules one.

[2015-10-12 16:26] LinusU commented on #86
Do you think that that scenario is more common than not knowing the exact string used in the other file? Maybe we could have it behind a function, like the `noCallThru`?

[2015-10-12 16:28] bendrucker commented on #86
Not sure, but I don't like the idea of allowing you to specify files relative to the test file. It's confusing and likely breaking.

[2015-10-12 18:08] dantheuber opened #87 "Proxyquire does not stub delayed, dynamic require()"
Hello!

In my api-base project, I am dynamically including files to automatically create routes in swagger:

The following would be in `lib/routes/users/index.js`
[code]

As you can see, in the `filenames.forEach()` call, i am using the passed filenames to require() them. Currently, It does not appear that I can pass stubs for non-existant files, to test this method. My test code:
[code]

The `inc

[2015-10-12 18:13] dantheuber commented on #87
aaaaaaand now I realized that I was not using `.noCallThru()`... Please disregard =)

[2015-10-12 18:13] #87 closed

[2015-10-14 06:29] mroderick commented on #80
I've created [a reduced test case](https://github.com/mroderick/proxyquire-issue-80) for this issue (or at least what I think is the same expectation not being met).

[2015-10-14 06:36] bendrucker commented on #80
No, that's not a bug

That's a documented feature

[2015-10-14 06:57] mroderick commented on #80
Cheers

[2015-10-14 17:32] brycefisher commented on #80
Just to confirm, I can no longer reproduce this issue. I forked @mroderick 's repo here and made it closer to my examples above:
https://github.com/brycefisher/proxyquire-issue-80

The tests pass even without the `@global` flag... Thanks for your help in looking into this!

[2015-10-16 17:00] kasajian opened #88 "Support for ES 6 module syntax"
I think it would be useful to have something on the front page explaining to people how to use this in a browser if they are using ES6 modules, and not using browserify or nodejs/commonjs or amd

[2015-10-16 17:25] bendrucker commented on #88
Proxyquire is Node only so we won't mention ES6 modules until it's natively supported

[2015-10-16 17:25] #88 closed

[2015-10-18 06:23] jamestalmage opened #89 "allow for null/undefined as a module value."
The specific case I'm running into is as follows:

[code]

I fully understand the reasoning discussed in #10, but there should be a "I know what I am doing" mode that drops those safeguards.

[code]

[2015-10-18 07:16] bendrucker commented on #89
Why not just stub with false here? I know it's not 100% correct but it'll work here. Hesitant to add a feature and docs for something this rare.

[2015-10-27 08:00] hellboy81 opened #90 "simultaneous usage of rewire and proxyquire"
As I mentioned with `proxyquire` it is not possible  to access private variables on module level. It is only possible with `rewire`.

Conversely, `rewire` cannot stub `require` itself. I.e. all modules are loaded, although they should be stubbed and are not required installed for unit tests.

Is there possible to use both of this libraries simultaneously?

[2015-10-27 14:09] bendrucker commented on #90
No idea. I believe that screwing with a separate file's scope via variable names is brittle and a bad idea. Regardless of the compatibility status I don't think Thorsten is cool with recommending rewire and I'm definitely not.

[2015-10-27 14:09] #90 closed

[2015-11-09 20:20] jmm opened #91 "Documentation about caching behavior is very confusing"
The documentation regarding caching behavior is very confusing, and in at least one case doesn't appear to be accurate. I created a [repro](https://github.com/jmm/proxyquire-cache-repro/commit/5c0be3609f1916d767a0cec8e08ce4dd761ef9fd) based on the [`preserveCache()` example from the `README`](https://github.com/thlorenz/proxyquire#forcing-proxyquire-to-reload-modules).

[code]

Expected: Assertion

[2015-11-09 20:23] thlorenz commented on #91
Any PR improving the docs is appreciated ;)

[2015-11-09 20:26] jmm commented on #91
@thlorenz I had a feeling you'd say that :) TBH I'm struggling to understand what the intended behavior is at this point.

[2015-11-09 21:04] thlorenz commented on #91
Sorry - swamped currently, maybe someone else can help.

[2015-11-09 21:08] jmm commented on #91
@thlorenz Ok, thanks. I hope you don't mind leaving this open until it can get sorted out.

[2015-11-09 21:11] thlorenz commented on #91
Yep, it's ok for now. Hopefully you won't have to wait too long to get some help.

[2015-11-24 13:50] Dakuan opened #92 "Proxyquire breaks code coverage with istanbul"
Having some bother getting istanbul and proxyquire to play nicely.

If I import a module into my test normally:

[code]

Then istanbul covers the module as expected.

Importing with proxyquire works, in that I can stub the things, but istanbul says that file is no longer covered, when it definitely is.

[code]

[2015-11-24 14:17] bendrucker commented on #92
Can you upload a minimal example? Eliminating all confounding factors (e.g. ES6) will help.

[2015-11-28 17:06] alexjeffburke opened #93 "@runtimeGlobal blows out the stack"
Hi there,

I know I'm probably pushing the limits of using proxyquire - I'm trying to mock a dependency all the way down. While I know that isn't recommended at all, it's likely the only way I can get the type of mocking working that I intend.

That being said I've hit a catch - if I enable @runtimeGlobal I very quickly seem to blow out the stack. I'm not entirely sure why that happens, presumably

[2015-11-29 01:50] bendrucker commented on #93
Can you offer a code example that we can run to reproduce this?

[2015-12-02 12:43] alexjeffburke commented on #93
@bendrucker I'll see what I can do about a reduced test case.. the module I'm working on will be OSS but the codebase I tried it on wasn't quite :)

[2015-12-09 14:14] osukaa commented on #92
I have this test with lab/code in Hapi and it's also telling me it's no longer with 100% code coverage. https://gist.github.com/osukaa/76468a57bd8e132d01b3

[2015-12-09 15:27] bendrucker commented on #92
Same deal guys, it's gonna be a lot easier to look at this if we have something super simple that we can run directly versus having to set up everything.

[2015-12-09 22:33] jithin1987 opened #94 "Prevent a dependency require/import"
I have an es6 js file

[code]

And I am trying to request this file via proxyquire

[code]

But it's crashing with following error

[code]

I don't have this dependency `react-int` installed at all, and I want proxyquire to mock this import. Will proxyquire work in this scenario ? Reason for not having this installed is this dependency is not handled by npm and is client only. But I want to unit t

[2015-12-09 22:38] bendrucker commented on #94
I assume this is compiled via Babel?

[2015-12-09 22:52] jithin1987 commented on #94
yes, I am using babel require hook.

[2015-12-10 00:03] bendrucker commented on #94
https://github.com/bendrucker/proxyquire-issue-94

Test is passing above. Not sure what's up with your setup in particular. Babel might be screwing things up. If you can pare down what you've got and isolate the problem I can look further.

[2015-12-10 04:12] jithin1987 commented on #94
I will try to isolate it and provide an example, it could also be that I am using `system.js` which also deals with module imports.

[2015-12-10 04:40] bendrucker commented on #94
I have a feeling it's got something to do with that. Let us know what you find, but for I think it's fair to say that proxyquire doesn't support other module systems. Only plain old `require`. We'd certainly consider a PR if you can figure out a simple fix for your setup.

[2015-12-10 04:40] #94 closed

[2015-12-14 08:41] volschin opened #95 "Proxyquire dependency is outdated"
regarding npm the up-to-date version is 1.7.3. The dependancy is ~0.5. Perhaps you should take a look, if its possible to update.

[2015-12-14 08:43] volschin commented on #95
Sorry, hit the wrong place.

[2015-12-14 08:43] #95 closed

[2015-12-16 20:06] PerfectSauce opened #96 "Not stubbing our my own module correctly"
Hi:
I am trying out proxyquire, but am having some issues.  I have tried the example to stub out require('os'), and it works, but I cannot stub out my own module.  Here is what I have:

realModule.js (this is my own module that I want to stub out)
    exports.get = function(id) {
	console.log("REAL get is called");
    }

moduleCaller.js:
    exports.callMe = function() {
	someModule.get(5);
    }

[2015-12-16 20:12] bendrucker commented on #96
`someModule` needs to be an exact path match for your module. Honestly having a super hard time understanding what you're doing because of the pseudocode and formatting. If you can spin up a quick standalone GH project I'd be more than happy to help.

[2015-12-16 20:12] #96 closed

[2015-12-17 11:38] hellboy81 opened #97 "stubbing require with dynamically generated path"
How can I stub following require

[code]

[2015-12-17 13:34] thlorenz commented on #97
Figure out exactly what `path.join(process.cwd(),'my.json')` returns and use **exactly** that string as the _key_ for the stub.

However what you're doing is not recommended. Instead your `require` statements should always be relative to your modules, never to your working directory.

[2015-12-17 14:14] #97 closed

[2015-12-18 16:12] prajwal78 opened #98 "Calls the original function even though stubbing the original function using proxyquire"
I have a module db.js which contains the following code:
[code]

I have testfile testDB.js coantians following code:

[code]

I am using mocha as test runner, chai as assertion library and proxyquire for overriding external dependencies. In the module db.js, there is a function getDetails that callbacks JSON data as specified in the variable stubs in testDB.js. getDetails function is internally ca

[2015-12-18 16:20] bendrucker commented on #98
That's not how proxyquire works. Proxyquire enables you to stub the dependencies of `db.js`, not mutate the file's own exports directly. I don't really understand what you're trying to do here either. What you're doing is effectively testing your mock rather than any of your source code.

[2015-12-18 16:20] #98 closed

[2015-12-18 16:21] bendrucker commented on #98
Happy to help, but closing out since it's not a proxyquire bug/feature

[2015-12-18 16:24] prajwal78 commented on #98
How can I unit test the source code of db.js if I am testing my mock itself???

[2015-12-18 16:53] bendrucker commented on #98
Proxyquire will help you mock the mssql package. If you can upload and example I can help further but it's gonna be too confusing to discuss what you have above without context.

[2015-12-18 17:23] prajwal78 commented on #98
I want to unit test the database layer of my restful API which I named it as db.js
[code]

The file db.js has one function getDetails which in turns has two sub-functions i.e.,general and preferences. The two sub functions are in async.parallel mode so that it is operates parallely to fetch data from database for which it uses mssql package. The data returned from two sub functions are clubbed int

[2015-12-18 18:00] bendrucker commented on #98
Same comment as above, please post this as a GH project and try to pare down the code so we can dig into the proxyquire side of things

[2015-12-18 18:20] prajwal78 commented on #98
ok I am putting it as gh project and share you the details...

[2015-12-18 18:55] prajwal78 commented on #98
Here is the link to the GH project: https://github.com/prajwal78/api.
There wouldn't be any SQL connectivity as the databases I located in my private cloud. The data returned from the database look like this as discussed earlier:
[code]

Now, I think you can help me unit test this database layer. Please any sort of help is appreciated for a newbiee.

[2015-12-18 19:41] bendrucker commented on #98
Still don't understand what you intend to test—`../db` is not a valid path

[2015-12-19 00:35] prajwal78 commented on #98
The pathto the db is ../repository/db.

[2015-12-19 00:43] prajwal78 commented on #98
I want to unit test db.js module which is the database layer of api. I want unit test function in different ways for db.js. lets say, the data returned is not null from the function. How can we mock sql?

[2015-12-21 09:03] kilianc opened #99 "how does it play with babel and or ES6 import?"
Once the new module system lands in v8 without the `--harmony`, how do we proxyimport things?

[2015-12-21 16:42] bendrucker commented on #99
Babel should work fine since it's just compiling to ES5 + CommonJS. As for native module support, we'll have to cross that bridge when we come to it. `import != require` and it may make sense to start entirely from scratch. That assumes that it's possible to implement a proxyquire equivalent in the first place. Since `import` is syntax and `require` is a special function, it might not be.

[2015-12-21 16:42] #99 closed

[2015-12-22 02:32] kilianc commented on #99
@bendrucker thanks you nailed the answer :)

[2015-12-26 03:11] bendrucker commented on #93
We can reopen this w/ an example

[2015-12-26 03:11] #93 closed

[2015-12-26 03:14] #89 closed

[2015-12-29 16:33] Alexsey opened #102 "Subobjects in proxyquired modules are not updating on re-proxyquing"
<a href="https://github.com/Alexsey/proxyquire_bug">This project<a> contains working demonstration of the bug. Setup of a problem is
- we want to test module ```foo``` that requires module ```bar``` that contains object that contains function ```g```. We need to stub ```g```
- proxyquiring ```foo``` and stab ```bar``` with empty object ```fake```
- override ```g``` on ```fake``` (```g``` is not di

[2015-12-29 22:48] mkay581 commented on #98
I may be a little late to the game and may even need to mind my own business but I think I understand what @prajwal78 is trying to say. He's trying to mock the methods that are exported from his own internal db.js file (hence the relative path name `./db`).

But if I understand what you're saying, @bendrucker, you're saying that proxyquire cant stub out files relative to your project. You can only

[2015-12-30 00:07] bendrucker commented on #98
No not at all. You can totally test paths within your own project. The relative path given wasn't valid and we never came to an understanding on what the OP was trying to do.

[2015-12-30 00:44] mkay581 commented on #98
oh I was thrown off by your comment when you said:

Guess I misunderstood. Sorry about that. I've never used this package before so I was browsing through the issues.

[2016-01-07 00:17] jakemmarsh opened #103 "Module object empty when proxyquiring?"
I'm using proxyquire to import a file like so for testing:

[code]

And `PlaylistAPI` has a structure like this:

[code]

However, this results in `PlaylistAPI` being an empty object in my test file after proxyquiring. If I require the same path normally (or via es6 import), it is defined as it should be. I've also placed a `console.log` to ensure the `PlaylistAPI` file is actually being loaded/ex

[2016-01-07 02:10] bendrucker commented on #103
Can you upload a reproduction/example so I can run it?

[2016-01-08 12:00] dualcyclone commented on #87
Even though you realised what you did wrong - glad you mentioned this! I was searching for how to proxy dynamic requires for ages, I didn't realise proxyquire will attempt a call through to the original require after proxying it.

Thanks for posting this! It makes perfect sense now.

[2016-01-08 18:41] jakemmarsh commented on #103
Closing, as I'm no longer using proxyquire.

[2016-01-08 18:41] #103 closed

[2016-01-11 02:04] tjmehta commented on #92
Appears to break coverage reporting in lab as well: https://github.com/hapijs/lab/issues/505

[2016-01-11 02:23] bendrucker commented on #92
Is it possible these tools depend on tracing `require` calls to work?

[2016-01-11 04:23] tjmehta commented on #92
Actually yes, just found the problem. Will report back w/ fix for lab in 30. It appears the instrumentation logic resets global coverage variable anytime a "new" file is required. Proxyquire allows re-requiring of files (without using require cache), and lab's coverage instrumentation logic assumes each require is always of a new file.

[2016-01-11 04:55] tjmehta commented on #92
The issue was within lab, not proxyquire. It assumed files could not be required multiple times.

https://github.com/tjmehta/lab/commit/1dea28808cb3d3603a34056f77d274cc4f5be8c0

[2016-01-11 05:13] bendrucker commented on #92
Nice! Seems like the same situation might be happening for Istanbul as well. Closing this for now since it sounds like this needs to be addressed by the coverage tools rather than proxyquire.

[2016-01-11 05:13] #92 closed

[2016-01-11 05:54] tjmehta commented on #92
Agreed :+1:

[2016-01-11 17:12] bendrucker commented on #92
I'm more than happy to jump on an Istanbul thread if any context is needed. Fixing this won't be something I pursue myself for the same reason I didn't notice it: I don't use code coverage tools.

[2016-01-28 15:42] trueblue2704 opened #104 "Possible to stub constructors?"
I have this module that I need to mock.

`var dynasty = require('dynasty')(config);`

It takes in the configuration parameters as a constructor. Is there any way I can pass this in with the stub?

`var users = proxyquire('../models/users.js', { 'dynasty' : dynastyStub });`

If I try doing this, then I get an TypeError saying require(...) is not a function.

[2016-01-28 16:30] bendrucker commented on #104
Sure, just declare your test config in your tests if needed and then replace `dynasty` with a function that behaves identically and constructs a model.

[2016-01-28 16:30] #104 closed

[2016-01-31 11:47] XGHeaven commented on #90
@bendrucker I have an other problem. How to get and test private function or variable? Just export it??

[2016-01-31 21:09] hellboy81 commented on #90
+infinity

[2016-02-01 03:07] XGHeaven commented on #90
@hellboy81 :question:

[2016-02-01 08:30] kilianc commented on #102
Not sure if I have the same problem but something similar is happening to me.

Consider the following code:

[code]

`AuthTokens.refresh` is permanently mocked even when `require('lib/middleware/auth').AuthTokens.refresh`, am I missing something or this is not how it's supposed to work?

[2016-02-01 10:03] Alexsey commented on #102
Have you tried to use <a href="https://github.com/thlorenz/proxyquire#forcing-proxyquire-to-reload-modules">```noPreserveCache```</a>?

[2016-02-01 11:54] hellboy81 commented on #90
use `rewire`, Luke!

[2016-02-01 13:54] XGHeaven commented on #90
@hellboy81 Can't use `rewire` and `proxyquire` together. @bendrucker said...
:persevere:

[2016-02-01 14:24] thlorenz commented on #90
The reason why proxyquire focuses on testing functions that are exported is that you should always test through the API that is exposed (except in very few edge cases).

So maybe you need to exercise that private function by calling a exposed one that uses it. If that's not easy enough then maybe that private function does a lot or the module containing it is too large.
The idea is that your tests

[2016-02-01 15:20] bendrucker commented on #102
You definitely need noPreserveCache, we can reopen if that's not it

[2016-02-01 16:02] hellboy81 commented on #90
@XGHeaven I know

[2016-02-01 16:05] hellboy81 commented on #90
why?

[2016-02-01 16:28] bendrucker commented on #90
The idea here is that you should be testing your public API. Coupling tests to internal variable names is equivalent to dropping breakpoints all over and then checking the scope. That's a useful tactic when something's wrong. For testing, it's likely to lead to tests that are tightly coupled to your source code. The result will be tests that break when you refactor even when the API is unchanged.

[2016-02-01 16:44] kilianc commented on #102
@bendrucker it's the other way around, when I call `require` it returns the proxyquired mocked version. Not sure if my issue is separated.

[2016-02-01 16:52] bendrucker commented on #102
Same thing. If you don't tell proxyquire not to use the require cache it will.

[2016-02-01 16:52] Alexsey commented on #102
@bendrucker Look at example in initial message. There is ```noPreserveCace``` and it works bad

[2016-02-01 16:54] Alexsey commented on #102
And it behave different for function that is directly in export object, and with on that is not directly on in

[2016-02-01 16:58] kilianc commented on #102
@bendrucker ok, but I would consider changing this behavior anyway, I can't think of any case where you want proxyquire to globally mock a library and affect `require`, to me that's the whole point and reason why I am using it. Shouldn't it be the other way around?

If I am wrong I would personally rather export all the dependencies I have to mock in the test suite and have more control.

You may

[2016-02-02 07:22] devinus opened #105 "Allow overriding properties in stub objects"
[code]

The second function never gets called. It's like proxyquire is deep cloning the object or something.

[2016-02-02 15:51] bendrucker commented on #105
Yes, proxyquire copies over stub values via https://www.npmjs.com/package/fill-keys. This is important to other features/users, so no possibility of removing the behavior. Best to re-proxyquire when you change the stubs.

[2016-02-02 15:51] #105 closed

[2016-02-03 16:44] Alexsey commented on #102
@bendrucker could you please look at the initial problem and answer why this it not a bug, or reopen this issue?

[2016-02-03 17:13] bendrucker commented on #102
Don't have time to look into it this week, will reopen in case anyone else wants to contribute

[2016-02-12 22:08] guyellis opened #106 "Problem with private Npm modules"
I'm trying to use proxyquire with a private Npm module. I have:

[code]

The call to `proxyquire()` dies at `Module._resolveFilename(path, module);` which at the time of writing this is here: https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L215

At that point it stops. No error is printed.

My suspicion is that it can't resolve `@mycompany/my-private-module`

Any ideas on how

[2016-02-12 22:19] gyandeeps commented on #106
I know I have used `proxyquire` for private package before, here is the example: https://github.com/eslint/eslint/blob/v1.4.3/tests/lib/config.js#L592

Maybe more information is need on how you are doing this?

[2016-02-12 22:32] guyellis commented on #106
@gyandeeps am trying to work out what else I can provide.

The target module ('../lib/my-module') also has async as a requirement.

If I swap out `@mycompany/my-private-module` with `async` then it "works fine" - i.e. proxyquire doesn't stop at that point and async is proxied.

[2016-02-12 22:57] bendrucker commented on #106
Definitely going to need something I can clone and reproduce. FWIW we're talking about scoped packages here, not private ones. Should be reproducible without sharing that specific package if the scoping is the issue.

[2016-02-12 23:46] guyellis commented on #106
Thanks @gyandeeps and @bendrucker for entertaining this issue. Turned out to be that the stub didn't have a function that `../lib/my-module` needed which was causing it to blow-up at that point.

[2016-02-12 23:46] #106 closed

[2016-02-23 21:53] tiagopadua-hp opened #107 "Proxyquire running original dependency code"
Hello,

I'm not really sure if this is a problem or it's by design, but it's something causing me problems to write my unit tests. Also, I have not found any documentation nor posts about this in any forums (googled for hours).

Well, let's give an example.
To simplify things, say my project has the following structure:

**/a.js**
[code]

**/b.js**
[code]

**/tests/test.js**
[code]

I want to test

[2016-02-23 22:32] bendrucker commented on #107
Proxyquire will try to load the original module in order to fill the unstubbed keys. The way to prevent that is with the noCallThru feature. The string key with `@` needs to be part of a module stub (e.g. `'./b'`, not the stub object itself. Instead, you can enable that feature like this:

https://github.com/thlorenz/proxyquire#all-together-now

You can't use the property shortcut because you're e

[2016-02-23 22:32] #107 closed

[2016-02-26 17:47] hsablonniere opened #108 "Using proxyquire with native dependencies (with `.node` files)"
Hi maintainers :smile:

I'm trying to use **proxyquire** with an app using [couchbase](https://www.npmjs.com/package/couchbase). This module has some native dependencies (with `.node` files).

I have some **mocha** tests where I don't stub the couchbase module. Because I used `@global` on some stubs, this trigger the big cache clear, which is exactly what I want.

From the tests I've done, this _"

[2016-02-26 18:40] bendrucker commented on #108
Honestly not sure, your solution seems as good as anything I can think of

[2016-02-26 19:25] hsablonniere commented on #108
OK. I'll try to find out more on have the `_cache` works and I'll submit a PR :wink:

[2016-02-26 20:00] hsablonniere commented on #108
I found these :

* https://github.com/nodejs/node/issues/5016
* https://github.com/request/request-promise/issues/89

It seems that as of right now, native addons that are *Not multi-context ready* (which I don't really understand) cannot be unregistered easily.

Since your lib does not allow to stub such native addons, I would say it's OK to only remove stuffs that are not `.node`.

[2016-02-26 20:11] hsablonniere commented on #108
Err... I saw in the test suite that you check that `.node` file can be stubbed. Is it a problem ?

[2016-03-02 03:03] yoshuawuyts opened #110 "how do I prevent side effects from occuring?"
Hey, I'd like fully stub out a module and squash all side effects. How do I do this? Thanks!

## repro
__derp.js__
[code]
__darp.js__
[code]

## expected
[code]

## actual
[code]

[2016-03-02 03:12] yoshuawuyts commented on #110
ah, so found it ~~~ ~~~
[code]

[2016-03-02 03:51] yoshuawuyts commented on #110
Alright, so I haven't fixed it :(
__derp.js__
[code]
__darp.js__
[code]
__velocity-animate__
where `velocity-animate` kinda does this:
[code]
---
In this case `velocity-animate` still causes side effects when called - which should definitely not be happening. Am I missing anything?

[2016-03-02 04:59] bendrucker commented on #110
`noCallThru` doesn't take args. Try calling it first or just assign `stub['@noCallThru'] = true`.

[2016-03-02 05:01] yoshuawuyts commented on #110
Still doesn't work :(
[code]

[2016-03-02 05:05] bendrucker commented on #110
Ah, now I think I see what you're trying to do. In order to stub velocity-animate globally, you basically just globally proxyquire a module that requires velocity-animate rather than trying to do velocity-animate itself. I think that'll work.

[2016-03-02 05:06] yoshuawuyts commented on #110
Ah, alright - not the answer I was expecting, but it works for me! Thanks heaps :sparkles:

[2016-03-02 05:06] #110 closed

[2016-03-02 05:09] bendrucker commented on #110
No prob -- proxyquire is designed to stub B when A requires B. Stubbing B directly is basically an accidental feature. Best bet here if possible is probably to publish something like this:

[code]

[2016-03-02 05:14] yoshuawuyts commented on #110
hah, lol - but that would require proper considerations of how people might use code and we can't have that now, can we? `velocity.js` is a bloated mess; I'm happy to stub it locally for a client and keep poking fun at it for years to come :grin:

[2016-03-02 16:13] djskinner commented on #62
This may be useful for Webpack users looking for proxyquire-like functionality: https://github.com/plasticine/inject-loader

[2016-03-09 10:25] ds82 commented on #88
Maybe you could reconsider your opinion about es6 module syntax ..

We write every bit of new code in es6 to make it future-proof. A lot of this code/modules can be used in nodejs and the browser. You are right, today it doesn't matter if I have to use require in my module code, because I have to transpile and package (browserify, webpack, ..) it for the browser anyway. But this probably changes i

[2016-03-09 14:55] thlorenz commented on #88
@ds82 Proxying `imports` is an entirely different story than proxying node.js's `require`.
I also believe that nodejs's implementation of the former is still very much in flux.
If you can get this working the same way though we are open to a PR to add this.

[2016-03-14 11:14] lazywithclass opened #111 "Doubt about usage"
Hello, thanks for this library!

I am having a look at it if I can use it for a mutation testing tool I am writing. I am experimenting with the following setup:

[code]
[code]
[code]

When running `node runner.js` I am getting

so I suppose something is happening, but I am probably doing something really silly here, do you see anything I might be missing? Any hint or help would be much appreciated

[2016-03-14 15:41] bendrucker commented on #111
Yeah unfortunately I'm pretty sure you really can't run Mocha tests without the Mocha executable. 99.9% sure that's the culprit here. The API you're using isn't documented (http://mochajs.org/#require) so I'm not even quite sure how they intend it to behave. Unfortunately my only recommendation is to use a test tool without global magic (e.g. [tape](https://github.com/substack/tape)) which is prob

[2016-03-14 15:41] #111 closed

[2016-03-14 15:52] lazywithclass commented on #111
I got to that usage of Mocha after reading this https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically

I could possibly use that require way, but then it would mean writing to files, which is what I'm trying to avoid with this approach. Well, I'll have to dig deeper, thank you for your prompt answer nonetheless.

Cheers

[2016-03-14 16:29] bendrucker commented on #111
Got it. Either way, Mocha's making the requires for you. The only thing you could try is setting `@global = true` on the value in `stubs.fn` so that Mocha's side effects (possibly) get a stubbed dep from the module cache.

[2016-03-14 16:46] lazywithclass commented on #111
I didn't understand your suggestion, sorry, could you please give an example?

[2016-03-14 17:10] bendrucker commented on #111
[code]

[2016-03-14 17:39] lazywithclass commented on #111
Got it, thanks ;D

[2016-03-24 23:48] callumlocke opened #113 "What if the module I want to stub is just a function?"
The docs seem to talk only about cases where you want to stub individual keys of a module. What about if I want to stub the whole module, because the whole module is just one function?

For example, [pify](https://github.com/sindresorhus/pify) is just a function:

[code]

If I proxyquire a module that uses pify, can I stub its pify with my own replacement function? I'm hoping this is possible, but

[2016-03-25 00:02] bendrucker commented on #113
Yup, totally cool to just put `proxyquire('./my-module', {pify: myPify})`.

[2016-03-25 00:06] callumlocke commented on #113
Oh awesome, I wasn't expecting to hear that. From the readme, all the call-thru stuff, I seemed to me like proxyquire was entirely designed around stubbing individual keys, so I just assumed if I passed a function in then nothing would get stubbed as there are no keys. It might be worth adding a mention of this to the readme

[2016-03-25 03:06] #113 closed

[2016-03-31 13:02] hcastellonLan opened #114 "load es6 object"
Hello

i have problems loading the es6 object with proxyquire

i have this class

[code]

And the dependency

[code]

My Test

[code]

The problem is than i obtain this message "TypeError: object is not a function" in this line " `let bookingController = new Booking();`

i cheked the path and is ok

Exist a problem using babel with class and objects with proxyquire? or other problem than i can't s

[2016-03-31 14:53] bendrucker commented on #114
Please highlight your code in the future.

Throw the `class` keyword away for now, it's just a distraction here. You started with this:

[code]

And then you're trying to stub it with:

[code]

Then you try to call `bookingStub` as a function with `new` and it fails. Make `bookingStub` a function and *then* append your `get` method.

[2016-03-31 14:53] #114 closed

[2016-03-31 14:55] tuto commented on #114
thank you very much
 sorry by the highlight

[2016-03-31 17:26] tuto commented on #114
@bendrucker

i tested the solution but for me is fail again
`let bookingStub = () => {};
    bookingStub.get = (recordLocator, lastame) => {
        console.log("DFDSFSD")
        return new Promise((resolve) => {
          resolve(bookingResult);
        });
      }

    let Booking = proxyquire("../../src/controllers/booking", {
      "../clients/booking":bookingStub
    });

    let bookingCont

[2016-03-31 18:22] bendrucker commented on #114
`Booking.Booking` would be your constructor since you're nesting under that key

[2016-04-08 19:49] scaljeri opened #115 "possible es2015 issues"
I'm trying to setup a simple test with proxyquire, but whatever I do it doesn't work

Here is a [repo](https://github.com/scaljeri/mock-require/tree/proxyquire) to reproduce.

main.js:

    import proxyquire from 'proxyquire';

    let bar = proxyquire('./bar', { './foo': () => {
        return 1;
    }} );
    console.log(bar());

bar.js:

     import foo from './foo';

     function bar() {

[2016-04-08 22:43] minfawang opened #116 "Cannot find module 'module'"
I'm trying to use wallaby to do unit tests with this library, and when I do:
[code]

It gives me the following error:
[code]

It might be my setup of wallaby is incorrect, but I have used to require other node modules that worked just fine. Any idea of why this error is thrown?

Thanks!!

[2016-04-09 01:53] bendrucker commented on #116
I'd ping Wallabay about this. Not idea what their runtime is like but they'd have to fix this on their end.

[2016-04-09 01:53] #116 closed

[2016-04-12 20:17] NullDivision commented on #115
`import foo from './foo'` equates to `{default: function foo}`.

To stub it you need to do:

[code]

[2016-04-12 20:35] bendrucker commented on #115
Ah, good call! I vaguely remember Babel having a setting for `export default --> module.exports` but it's been more than a year since I've touched it.

[2016-04-12 20:35] #115 closed

[2016-04-12 20:40] NullDivision opened #117 "Module object import gets wrapped in default"
I tried stubbing a module using the object import syntax and noCallThru (though without noCallThru it only works because the method gets called) and here's the issue:

Unit under test
[code]

Module:

[code]

Test file:
[code]

The actual code works fine and returns an object with props `a` and `b` but proxyquire doesn't resolve them correctly.

Update: With the deconstruct import `import {a, b} f

[2016-04-12 21:03] bendrucker commented on #117
Sorry for the trouble but for now we're not going to provide support for transpiled module loading via Babel. It sucks that there are all these pitfalls but I don't have any advice to offer other than to comment that this sort of thing is why I dropped Babel and its shims in the first place.

[2016-04-12 21:03] #117 closed

[2016-04-12 21:17] NullDivision commented on #117
I understand. Thank you for the quick response in any case. :)

[2016-04-12 21:20] NullDivision commented on #117
To be clear, is it an architectural choice or a time constraint? Because if it's the latter I'd be willing to put in a bit of time for a PR.

[2016-04-12 21:35] bendrucker commented on #117
Bit of both. Adding special handling for the Babel-generated code isn't something I'm willing to consider. The use of normal CommonJS is a core assumption in proxyquire. If and when `import` comes natively to Node that's a different story.

[2016-04-13 02:19] thlorenz commented on #117
@NullDivision have a look at the code babel generates here, I think it's something like:

`export['default'] ... ` for functions, i.e. not `module.exports`. It should do something along the lines of `require('./the module').default` to import it then ... not entirely sure, but seen something similar.

You'd need you proxyquire use according to that.

So find the generated code for the exporting an

[2016-04-13 08:49] NullDivision commented on #117
If memory (and my tests) serves, `export['default']` only applies if you're doing explicit `export default function myFunc() {}`. Otherwise it uses the function's signature to determine the export property name.

[2016-04-13 18:06] mkay581 opened #118 "Multiple proxiquired stubs for the same dep"
Thanks a lot for creating this package. Unless I am missing something, I don't see any way to proxyquire (or stub) multiple instantiations of a class. Consider the following scenario:

[code]

What would be the best way, using proxyquire, to stub the Panel's constructor to test that `new Panel()` was called with appropriate arguments when testing Carousel class?

I know I could proxyquire the Pane

[2016-04-13 19:09] bendrucker commented on #118
That kind of logic is up to you. Proxyquire doesn't care what your code does or what your modules look like. You could proxy `Panel` to return different results based on the input or based on a call index that you increment in your Panel stub. You could get even fancier and have an array of instances that you pre-create and then return from that array depending on the index. Entirely up to you.

[2016-04-13 19:09] #118 closed

[2016-04-13 19:28] mkay581 commented on #118
Ok thanks, was just wondering if there was some of sort of functionality in this package I was missing.

[2016-04-16 05:03] jseminck commented on #115
Is this documented somewhere?

I also couldn't get `proxyquire` to work with import/export syntax and was almost thinking to revert back to using `require()` syntax because of it. Luckily stumbled upon this thread and this solution works like a charm. (well thinking about it afterwards, it completely makes sense).

[2016-04-16 05:15] thlorenz commented on #115
@jseminck we'll be happy to add some such section to the Readme.
Could you please provide that addition via a PR?
Thanks

[2016-04-16 05:35] jseminck commented on #115
Sure. I'll try to write something about it with the example from above. Not the best technical writer though. :)

[2016-04-20 21:34] nschurmann opened #119 "Not replacing const, require nor let."
This is my code:

[code]

and this is the test:
[code]

The `console.log` prints out the content of the library instead of replacing it.
Also tried with `../lib/dn-helpers` with no result.

[2016-04-21 06:55] nikcorg commented on #119
The keys in the object passed to proxyquire should be the _paths_ given to require, not the symbol they're assigned to, i.e. replace `{ 'dn': dnStub ...` with `{ '../lib/dn-helpers': dnStub ...` and it should work as expected.

[2016-04-21 14:31] nschurmann commented on #119
Thanks @nikcorg , does this works also for replacing constants existing inside the file? like
[code]

[code]

[2016-04-21 15:51] bendrucker commented on #119
You're missing the point. Proxyquire proxies require. It doesn't try to manipulate your code otherwise and our position is that variable manipulation is bad.

[2016-04-21 15:51] #119 closed

[2016-04-21 15:54] nschurmann commented on #119
@bendrucker so, if i write a test for a function, then i write another test for another function that calls the prior function, is bad to change it to a spy and test that the function was called? Testing an existing function more than once is a bad practice, it may make your tests pass or fail in unwanted scenarios.

What is your approach in this scenario?

[2016-04-21 16:27] bendrucker commented on #119
Not really sure what you mean, simplified code would be helpful

[2016-04-21 16:49] nschurmann commented on #119
[code]

[2016-04-21 17:07] bendrucker commented on #119
You don't have a `require` statement anywhere in that code so proxyquire isn't relevant.

[2016-04-21 17:36] nschurmann commented on #119
@bendrucker the question was `What is your approach in this scenario?`

[2016-04-21 18:00] bendrucker commented on #119
Oh. I never replace functions directly. If a function implements enough behavior to justify replacement for a mock, I say it belongs in another module. At that point proxyquire can step in and proxy the complex function in your unit tests.

[2016-04-27 14:27] kwhitaker commented on #102
I may have a related case to this, or it might be something that I'm misunderstanding about proxyquire.

In my case, I'm testing some methods normally, but then I need to stub those methods _later_.

[code]

However, `mock` ends up being equal to `methods`, and therefore I can't spy on the internals.

[2016-04-27 15:32] souly1 opened #120 "Unable to get proxyquire to work with node-ipInfo"
Hi,
recently I've added the http://ipinfo.io node js wrapper (https://github.com/IonicaBizau/node-ipinfo) to my app and no matter what i've tried, I'm not able to get proxyquire+sinon to mock its behaviour. I assume its due to it exporting a function instead of an object, I've tired global=true flag written here, but no success.
Any recommendations on how to approach this?
Thanks

[2016-04-27 15:35] bendrucker commented on #120
We need at least some code to be of any help

[2016-04-27 16:22] souly1 commented on #120
Sure:
* install the module: npm i --save ipinfo
Foo class running  the code:
`var ipinfo = require("ipinfo");
exports.bar = function(){
   ipinfo(ip, function (err, cLoc) {
      //cLoc holds the location date
   }
};`

The spec class:
`ipInfoMock = function(ip, callback){
            callback();
        };
        ipInfoMock['@global'] = true;
        proxyquire("../../../node_modules/ipinfo/lib/

[2016-04-27 16:57] bendrucker commented on #120
Right. Your problem is that you're not passing any of the right values to proxyquire. Proxyquire expects 1) strings that point to your source code 2) objects where the keys are module ids/paths relative to your source and the values are the full/partial replacement. You need to pass `'./mysrc.js', {ipinfo: ipInfoMock}`.

[2016-04-27 16:57] #120 closed

[2016-04-27 16:59] bendrucker commented on #120
If it's easier to understand, you're expecting proxyquire to magically globally override modules that have already been loaded. That's nearly impossible to actually do. What's really happening is that proxyquire can override the module loader when loading *your* code and ensure that you get an opportunity to manipulate the top level and even the global dependency tree just for that call.

[2016-04-27 17:10] souly1 commented on #120
Oops, really sorry, I've just pasted a wrong version of my attempt, here's and updated version of the proxyquire call:
[code]

This is what fails for me and I'm unclear as to why

[2016-04-27 17:12] souly1 commented on #120
Adding here code from ipInfo's index.js, pretty short:
[code]

[2016-04-27 17:57] bendrucker commented on #120
That should work ok, but why aren't you assigning the `proxyquire` value to anything? Can I get something I can run?

[2016-04-27 18:36] souly1 commented on #120
Sure,
https://ide.c9.io/souly1/ipinfo_issue

Click run on displaying geoSpec.js, all should be ready (mocha will run)

[2016-04-27 19:28] bendrucker commented on #120
That's not how proxyquire works. You need to assign the return value of `proxyquire`, not expect the ability to manipulate requires that already happened.

[2016-04-27 19:33] souly1 commented on #120
humph, I'm pretty sure it worked for me in other modules... seeing what i meant, do you think there is a way to run the same result i want from the test?

[2016-04-27 20:52] bendrucker commented on #120
I don't know what result you're expecting. As long as you assign the proxied module instead of assuming some global manipulation will happen (it won't) you should be okay.

[2016-04-28 07:03] souly1 commented on #120
OK, Finally understood what you were saying, fixed the c9 example. If fixing the example written above basically all that was required was:
[code]

thanks again for the patience @bendrucker
Cheers

[2016-05-02 00:17] JustinDFuller opened #121 "Mock multiple required modules with proxyquire"
Hi,

Please forgive me if I've missed something, but I would like to use proxyquire to mock multiple modules, let me give an example.

[code]

[code]

While reading the docs and looking at examples it doesn't seem like proxyquire is set up to work like this. I've tried this in my test anyways and it didn't seem to work.

Any ideas?

Thanks!

[2016-05-02 00:48] bendrucker commented on #121
Instead of an array `one` and `two` should be keys in the same object

[2016-05-02 00:48] #121 closed

[2016-05-04 19:20] cbshakumar commented on #102
I think this may be related. I have been trying to understand if there was a way around this behavior.

[code]

The test for banana fails because it still comes back with the original mocked data of 'blah'.

[2016-05-04 19:42] Alexsey commented on #102
@cbshakumar Just before 'does banana things' test runs both of your ```before``` functions would be executed (```Mocha``` works that way) so ```doStuff``` would be reassigned twice. Probably ```Mocha``` execute firstly inner ```bofore``` and than outer ```before``` that is why in your test it returns 'blah' in stead of 'banana'. Log/debug your code to check the order of ```before```s execution

[2016-05-04 19:58] Alexsey commented on #102
@kwhitaker you are trying to pass as second parameter of ```proxyquire``` call object with key that is the name of the method. ```proxyquire``` doesn't work that way: keys should be the names of packages that require module in first argument and values should be object with keys that are names of methods <b>in required</b> packages

[2016-05-04 20:20] cbshakumar commented on #102
@Alexsey
![screen shot 2016-05-04 at 4 18 04 pm](https://cloud.githubusercontent.com/assets/4872206/15027903/0636afb0-1214-11e6-90dc-9a5759155f3c.png)

before is run only once for each describe block it is in. This is not the beforeEach function from mocha.
But you can see from the repl/debug that it has already ran through the outer before statement by the time it has gotten to the inner one.

[2016-05-04 20:33] kwhitaker commented on #102
@Alexsey thanks for clearing that up. I think I might need something like https://www.npmjs.com/package/rewire for this case.

[2016-05-04 20:43] Alexsey commented on #102
@cbshakumar Yes, sorry, probably I confused them. Any way your problem is definitely in fact that you are reassigning your local ```dependencyMock``` variable with a new function while ```proxyquire``` continues to work with an old one. There is now way it JavaScript ```proxyquire``` can detect change of a target of a link

[2016-05-05 12:23] cbshakumar commented on #102
@Alexsey right, I would imagine that just modifying the object instance itself, proxyquire should pick this up since it has the object reference still and I have no preserve cache set. How else can I get proxyquire to automatically pickup the modified object reference?

[2016-05-05 14:12] Alexsey commented on #102
@cbshakumar ```proxyquire``` itself can't help you. But JS is flexible, so there are some tricks you can do. First I can imagine is to change ```mocks``` to
[code]

[2016-05-05 15:42] cbshakumar commented on #102
I was able to get tests passing by changing them to use an internal instance for the mock.

[code]

[2016-05-05 15:56] Alexsey commented on #102
Yep, that is a similar way. I don't see how such helper could be a part of ```proxyquire```... but if you do - you should probably create a separate issue with suggestion as fare as we figure out that it is not about the bug from the initial post

[2016-05-05 18:50] cbshakumar commented on #102
Sure

[2016-05-05 19:35] #102 closed

[2016-05-05 19:37] bendrucker commented on #102
Thank you for the diligent effort in reproducing this @Alexsey

I just dug in for a bit and was able to identify the issue. The stubs (child of a child) were still stuck in the require cache even though the child itself was deleted. I've made an addition to delete those as well. I've also incorporated a virtual identical unit test to your repro project and verified that the changes pass your tests

[2016-05-05 19:50] bendrucker commented on #91
The intended behavior is definitely to not have any of the foos strictly equal another. In theory you could check that the stubs were strictly equal or both empty and in that scenario return three identical references. I don't think it's worth implementing that behavior and getting that clever. Do you have any suggestions for where to include a mention in the docs so it's clear how/why the behavio

[2016-05-05 22:12] jmm commented on #91
@bendrucker Thanks for the reply.

I was going to ask if you can begin by summarizing what they're supposed to do. Otherwise I'd have to dig into the code to try to figure it out in the first place before I'd be able to correct the docs. Based on what you said it seems that the first assertion here would never pass, so that'd be a good place to start:

[code]

I'm thinking now that these are suppo

[2016-05-05 22:55] bendrucker commented on #91
In your second example the `noPreserveCache` option has to delete the module from the require cache. That's why the normal Node behavior is not observed there.

In the second case you've allowing the normal caching and so the normal behavior persists. Proxyquire does some magic where it clears and then repopulates the cache. The important thing here is that proxyquire is actually trying to clean u

[2016-05-06 01:33] Alexsey commented on #102
This is great! Thank you for fixing it =)

[2016-05-08 12:03] DanielZlotin opened #122 "updating from 1.7.4 to 1.7.7 breaking changes"
1.7.4 everything worked.
broken test suite as a result from the update: (1.7.5 and 1.7.6 same issue)

[code]

[2016-05-08 14:43] bendrucker commented on #122
Without your source code we can't look

[2016-05-08 14:43] #122 closed

[2016-05-08 15:22] DanielZlotin commented on #122
What source do you need?
this is my usage:

[code]

inside `src/reducers/session/actions` the first line is `import _ from 'lodash';`
before the update to 1.7.5 everything worked.

now it seems babel is not working with modules imported with proxyquire.

[2016-05-08 15:42] bendrucker commented on #122
As of 1.7.5 the `noPreserveCache` behavior deletes additional modules from the cache to resolve a bug: #102. We don't formally support transpilation right now even if it worked before. In order to get it working again and supported, we'll need a failing test and some investigation. Since I don't use Babel this is a relatively low priority for me. If you want to work on a PR I can review it, otherw

[2016-05-08 15:43] bendrucker commented on #122
For right now, just pin your version to 1.7.4

[2016-05-09 03:48] IonicaBizau opened #123 "Proxy a module exporting a function"
Is it possible to proxy a module that only exports a function?

Related discussion: https://github.com/IonicaBizau/node-ipinfo/issues/5

[2016-05-09 04:34] bendrucker commented on #123
Been asked many before, including in reference to ipinfo specifically: #120

[2016-05-09 04:34] #123 closed

[2016-05-09 04:36] IonicaBizau commented on #123
@bendrucker Oh, thanks!

[2016-05-10 01:12] liamqma opened #124 "Commit 'Delete stubs from require cache when in noPreserveCache mode' breaks when using coffee script"
Hi maintainers :smile:

The recent [commit](https://github.com/thlorenz/proxyquire/commit/9602114688b95f33ec04a077796ab4e7bb5a8240) I think will break if using coffeescript along with  '_preserveCache' set to be true.

The following code will not be able to resolve .coffee
[code]
Unless we explicitly set  extension to include .coffee based on [node-resolve docs](https://github.com/substack/node-re

[2016-05-10 01:47] bendrucker commented on #124
Ah, interesting. Related to #122 but should be way easier to solve. Appreciate you doing most of the work!

I think I should be able to grab `require.extensions` and that CoffeeScript will add itself there.

[2016-05-10 03:22] #124 closed

[2016-05-10 06:28] screendriver opened #125 "Using proxquire with jspm / SystemJS"
Is it possible to use proxyquire with [jspm](http://jspm.io) / [SystemJS](https://github.com/systemjs/systemjs) that runs in the browser? I tried a lot but I don't get it running.

[2016-05-10 07:08] bendrucker commented on #125
See proxyquireify. That's the only option for the browser.

[2016-05-10 07:08] #125 closed

[2016-05-10 07:09] screendriver commented on #125
Ok. Too bad. Browserify ist completely different to jspm / SystemJS.

[2016-05-10 15:27] bendrucker commented on #125
Yup, that's the reason I still use and love Browserify versus other larger APIs like Webpack and entirely different conceptual tools like SystemJS. Browserify ships with the least and had an incredibly rich ecosystem of 3rd party tools, many of which are extremely mature.

[2016-05-11 00:37] alif opened #126 "NODE_PATH with proxyquire 1.7.5+"
Since v1.7.5 I've been getting module not found errors and I believe it's related to `NODE_PATH` and likely related to this change with using `node-resolve`:
https://github.com/thlorenz/proxyquire/compare/b624446b260fab0103b3cad339e6434858739589...4776b6958f7423d11b2504f6a2e1f32293dd74eb#diff-35740953abc60c3d609ae0fd6ce0f490R187

And it's most likely related to this issue in `node-resolve` - https

[2016-05-11 01:29] #126 closed

[2016-05-11 01:29] bendrucker commented on #126
Check the latest, should fix it

[2016-05-11 08:26] screendriver commented on #125
It depends 😁  I prefer technologies that are based on an industry standard [specification](http://wiki.ecmascript.org/doku.php?id=harmony:specification_drafts#august_24_2014_draft_rev_27) that are working without any compilation / transpilation steps right in the browser as if they would support it natively. So I have **not** to change any code / builds when the browsers are ready to support it na

[2016-05-19 17:14] zelias500 opened #127 "proxyquiring with an external npm test script"
Hi,

I'm having some trouble stubbing out a nested dependency when running my tests using an external script written for npm test purposes. Below is the relevant code:
[code]

and the test file:
[code]

This code works by itself (e.g. `node test/test.js`) -- proxyquire behaves properly. However, I'm looking to run this test as part of a suite, using `test-runner.js` (below):
[code]
Now, proxyquire

[2016-05-19 17:19] bendrucker commented on #127
Why are you passing in `proxyquireInstance` into tests? If you can create a project that minimally reproduces this I'd be happy to try it. Otherwise I don't see how this could be a proxyquire bug.

[2016-05-19 17:19] #127 closed

[2016-05-19 19:50] zelias500 commented on #127
Actually, moving the `proxyquireInstance` out of the test solved my problem. My thought was to create a new instance inside each test so I could stub out different methods depending on the test, but it's totally possible to do that outside of the test block.
Thanks for the help!

[2016-05-19 20:57] bendrucker commented on #127
Sounds good! Proxyquire is like `require`. It has special semantics and uses the `module` module. Passing an instance around between modules is pretty guaranteed to behave strangely, just like passing around `require`.

[2016-05-20 10:58] Astridax commented on #115
For reference to anyone else looking this is the plugin required to do this:
https://www.npmjs.com/package/babel-plugin-add-module-exports

Source of info:
http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

[2016-05-23 21:40] mfowlewebs opened #128 "Object.defineProperty called on non-object"
Hi. I'm trying to help Sails get Proxy Protocol support by using Proxyquire to proxy in the HTTP modules. I have a [little demo project for the attempt](https://github.com/mfowlewebs/sails-proxywrap).

Alas Proxyquire is giving me an error:

[code]

Apologies in advance if there's already a well documented reason why I ought expect this!

[2016-05-23 21:53] bendrucker commented on #128
You're missing `require` statements:

https://github.com/mfowlewebs/sails-proxywrap/blob/55b1d3dd48fcff6506bc2cbeef599d711d3f6a1e/sails-proxywrap.js#L5-L6

[code]

[2016-05-23 21:53] #128 closed

[2016-05-23 21:54] bendrucker commented on #128
You're basically trying to replace the whole http module with a string and proxyquire is choking on it

[2016-05-24 17:22] mfowlewebs commented on #128
Yup! Mercy be, thanks thanks thanks. Really appreciate the help.

[2016-05-25 15:55] jackwanders commented on #93
@bendrucker I'm not sure if this counts as an example worthy enough of reopening, but I just ran into the same issue.

For me, the cause appears to be a circular dependency within one of my own dependencies...in particular, `winston`.

You can see a sub-module of `winston` requiring `winston` itself here:
https://github.com/winstonjs/winston/blob/master/lib/winston/container.js#L10

The dependency

[2016-05-26 06:39] tamtakoe opened #129 "Dependency path hasn't been resolved"
smth.js
[code]

smth.test.js
[code]

It works. But if I change proxyquire dependency path for `'./../utils/index': utils` or `'../utils/../utils/index': utils` it doesn't work, because path hasn't been resolved

[2016-05-26 16:32] bendrucker commented on #129
Proxyquire isn't doing anything fancy with your paths. It expects exact matches between your `require` calls and your stub objects.

https://github.com/thlorenz/proxyquire/blob/572b4c9b84c760462a0af47ba18cec27cfcec901/lib/proxyquire.js#L144

[2016-05-26 16:32] #129 closed

[2016-05-27 08:24] tamtakoe commented on #129
It is strange, because node.js always resolves paths and a developer expects the same behavior from node.js modules.

The second strange thing that I encountered is merging native module with mock module. F.e. If I have

module.js
[code]
module.mock.js
[code]
index.js
[code]
index.test.js
[code]

I will get in console:
[code]

It is very strange behavior. Of course I will get error if module.js co

[2016-06-02 09:57] keenwon opened #130 "any method can unproxy?"
[code]

after I finish the test case, is there any way to unporxy the `foo.extnameAllCaps` ?

[2016-06-02 10:25] keenwon commented on #130
oh stupid...

[2016-06-02 10:25] #130 closed

[2016-06-19 17:48] alexjeffburke commented on #93
@jackwanders You're description sounds incredibly familiar - I had a heavily instrumented proxyquire and it was definitely the cache being disabled when @runtimeGlobal enabled meant something was never taken from it. But you're summary of this is much better than mine.

I _think_ I experimented with trying to maintain the kind of thing you also suggested, like an internal visited dictionary where

[2016-06-28 16:39] ilyavolodin opened #131 "Different behavior between 1.7.4 and 1.7.9"
Just upgraded proxyquire to 1.7.9 and my tests are no longer passing. My code runs in Rhino with custom implementation of CommonJS, but tests are ran in Node, that's why I have to use proxyquire to mock some requires. Below is a short version of failing code in 1.7.9, it was working fine in 1.7.4:

[code]

[code]

With 1.7.9 `beforeEach` fails with the following error:

[code]

My solution for now

[2016-06-28 17:36] bendrucker commented on #131
Hmm, I have to assume it's got something to do with the `~` in the path. Can you try replacing that with an absolute path?

[2016-06-28 17:48] ilyavolodin commented on #131
Sorry, I forgot to mention, if I comment out the line with `~`, I get the same exact error for `dw/web/URLUtils` as well. That path and file doesn't exist, it's a Rhino abstraction for Java class that's running under the hood (it's actually dw.web.URLUtils Java class). Unfortunately I can't remove `~` from the path, as I mentioned, my prod instance is running on Rhino with custom implementation of

[2016-06-28 20:17] bendrucker commented on #131
Ah, okay. This change was definitely caused by the addition of [node-resolve](https://github.com/substack/node-resolve) instead of trying to use internal `Module` methods for tricky lookups. You should definitely pin to 1.7.4 since I don't think we'll be able to reasonably add proper testing around this behavior.

[2016-06-28 20:17] #131 closed

[2016-06-28 21:46] thlorenz commented on #131
Actually ideally we implement the module lookup algorithm exactly the way it works for node, i.e. if node can resolve the above module, proxyquire should too.
If node-resolve behaves differently then maybe someone could PR there to make it behave more like node's lookup mechanism?
As it stands now it looks like a regression to me.

[2016-06-28 22:22] ilyavolodin commented on #131
@thlorenz Examples that I posted above would not work in node. As I understand it (probably incorrectly), before 1.7.5 `require` match was just a string match, now it's actual file lookup. Those files do not exist in my repository, so Node wouldn't be able to find them (Rhino does, since it's running custom implementation of CommonJS). So if the goal is to mimic Node's CJS implementation, then I h

[2016-06-29 04:57] thlorenz commented on #131
Thanks for the clarification @ilyavolodin in that case I agree with @bendrucker that the best option for you here is pinning to 1.7.4 since that (solely by chance) has the behavior that you need.

[2016-06-29 16:53] bendrucker commented on #131
This goes back to #102 where the only solution was to begin resolving the stubs in order to manipulate the cache. The `require.cache` uses absolute paths and is global to all your modules. You're running into this because you're using `noPreserveCache`. In order to actually not preserve the cache, proxyquire has to resolve those stub paths and then delete them from the cache.

Here's the code that

[2016-06-29 19:00] flamestream opened #132 "Using stub map as module whitelist"
Quickly reading the documentation, I was confused by the usage of `noCallThru()`, thinking that it would enable me to do something as follows:

**test.js**
[code]

**index.js**
[code]

However, rereading more carefully, it seemed to not be the intent.
Is there anything in place that will let me achieve the above easily?
For unit testing, it would make sense to explicitly list what can be loaded in

[2016-06-29 19:53] bendrucker commented on #132
No, proxyquire only overrides requires that match the stub list. `noCallThru` allows you to replace `fs` with `{readFile: readFileStub}` while preserving the rest of the methods.

To simulate a module being unavailable, set it's stub value to `null`.

[2016-06-29 19:53] #132 closed

[2016-06-30 12:05] KarlPurk opened #133 "Proxyquire isn't preserving cache"
Has `preserveCache` regressed again?  I'm seeing some strange behaviour with `1.7.10`:

**foo.js**

[code]

**test.js**

[code]

The above test fails on the second assertion because the cache isn't being preserved.  However if I just use require directly it works:

**request-test.js**

[code]

[2016-06-30 13:56] thlorenz commented on #133
Could you please PR with a failing test (in the style all other tests are written)?
Contributors can then go from there and either figure out if the test is incorrect or fix proxyquire to make it pass.
Thanks.

[2016-08-06 03:27] MarkHerhold commented on #56
@bendrucker This `'@global' = true` implementation of yours is truly genius! :+1:

[2016-09-20 19:23] vitalybe opened #135 "noCallThru makes it impossible to modify the stub"
Consider the following test code.

Running **test 1** on it works as expected and prints 1. However, **test 2** prints 1 as well. Removing `.noCallThru()` fixes this behavior and prints 2 for 2nd test.

	var proxyquire = require('proxyquire').noCallThru();

	describe('Song', () => {

		let self = {};

		beforeEach(() => {

			// Mocks
			self.stubWrappedSoundManager = {
				loadSound: sinon.stub()

[2016-09-20 19:32] bendrucker commented on #135
Don't mutate your modules in your tests. Instead re-proxyquire with the values you want. Otherwise your tests are coupled to each other unnecessarily.

[2016-09-20 19:32] #135 closed

[2016-09-23 12:56] 360disrupt opened #136 "Question: How to get proxyquire work with classes?"
I have a class `Trader` which I want to do some integration tests with. This class uses another class `Bitfinex` which uses a service for the rest api. I want to prevent this api to make real orders on an exchange.

[code]
## Class

[code]
## Error

`TypeError: Bitfinex is not a constructor`

The error only occurs when I use proxyquire instead of require.
## Question

1) How can I mock that specif

[2016-09-23 13:56] bendrucker commented on #136
Please create a repo with a minimally reproducible project that we can run via `npm install && npm test` to see the issue. Classes are really just functions so there's nothing special going on.

[2016-09-23 14:52] 360disrupt commented on #136
[MinimalBitcoin.zip](https://github.com/thlorenz/proxyquire/files/489956/MinimalBitcoin.zip)
Run
`npm install`
`gulp testBE` to test, it will fail.
You can edit `MinimalBitcoin/src/backend/bitcoin/specs/trader.class.spec.coffee` line 11 & 12 to see that it does not file unless `proxyquire` is used.

[2016-09-23 16:33] 360disrupt commented on #136
[MinimalTest.zip](https://github.com/thlorenz/proxyquire/files/490194/MinimalTest.zip)
Ok I reduced it to
- 3 x src (I kept the file structure, trader -> bitfinex -> bitcoin (maybe it is relevant to the problem)
- 1 x spec
- 1 x gulp file
- 1 x package JSON
Just run `npm install && gulp` in order to test. Uncomment l10-14 in `trader.class.spec` to cause the error.

[2016-09-23 18:36] thlorenz commented on #136
@bendrucker actually I also noticed something funny going on when using `class` and trying to `callThru`.
It doesn't seem to detect a function on a class when looking for stubbed out ones (i.e. if you use a `class` as a stub).

You could easily repro by trying to stub out path with:

[code]
then using that to stub `path`.

LMK if you need help .. seems like the problem is in one of the underlying

[2016-09-23 18:51] bendrucker commented on #136
Ah nice, I'll dig deeper on classes and try to get a pure JS repro case going.

[2016-09-23 19:53] bendrucker commented on #136
Dug around a bit more. Found one fairly direct issue:

This isn't valid:

[code]

You can't do nesting like that. You're replacing your class with an object (`{'bitfinex-api-node': {}}`). You should avoid transitive module testing but if you need that you'll have to use the [`@global`](https://github.com/thlorenz/proxyquire#globally-override-require) feature.

[2016-10-02 10:33] niksy opened #137 "Proxying JSON files"
When I try to proxy some JSON file, in every case original file gets required, but when I use `noCallThru` proxied JSON file gets required. Is this intentional and is there a better method for proxyquireing JSON files?

[2016-10-02 16:42] bendrucker commented on #137
Example?

[2016-10-06 21:14] pkyeck commented on #89
[code]

Could I also use some other value, like e.g. a string? Or a number?

[code]

This is giving me an error.

[2016-10-27 05:20] terlar opened #138 "Can I mock a method in the file I am proxyquiring?"
I didn't find this in the documentation and I haven't found a way to do this, hence the question.

If I have something like this.

`src/main.js`
[code]

`test/main.js`
[code]

I want to mock both `bleno` since that is failing on require if no bluetooth devices are available and the setup method inside the proxyquired `main.js` as it starts timers and other things.

How do I do something like provi

[2016-10-27 07:06] bendrucker commented on #138
You can't overwrite internal functions. Proxyquire overrides requires.

[2016-10-27 07:06] #138 closed

[2016-10-27 10:20] benwhite-deltas opened #140 "Simulating module initialization side-effects"
Currently as far as I can tell, there is no way to mock side-effects in the initialization code of proxied modules. Example:

#### requiredmodule.js

    module.exports = { foo: function () {}}

    // ... other initialization code ...
    if(somethingWentWrong) {
      throw new Error ("Something went wrong");
    }

#### testedmodule.js

    module.exports = {function bar() {
      var included;

[2016-10-27 14:07] bendrucker commented on #140
The whole point of focusing on modules is to eliminate side effects where possible since they're so hard to test. Allowing users to override code instead of just the module exports themselves would not be in the spirit of proxyquire and would add a bunch of complexity.

[2016-10-27 14:07] #140 closed

[2016-11-02 14:51] benoittgt opened #141 "Failing mocking node-pg object method"
Hello

I know it's not related to proxyquire directly but I'm stuck since 3 days on this issue :

I'm building a AWS lambda that connect to a postgres database. I wanted to mock this database for testing.
In my code_base I have something similar to :
[code]

I have this simple mocha test :
[code]
[code]

Do you have any idea why I can't mock `connect`?

Thanks in advance

[2016-11-02 14:56] bendrucker commented on #141
Few problems I can see pretty immediately:

* `../index` => `../` (not broken, still a good idea)
* You're passing in `{Cient: fn}` as the stubs

Take another spin through the docs. The args to the stubs is an object keyed by module paths with the values representing the replacement modules.

[2016-11-02 14:56] #141 closed

[2016-11-04 15:30] Retsam opened #142 "Use with babel-plugin-resolver (non-relative import paths)"
I'm attempting to use proxyquire with code that's compiled with babel-plugin-resolver: a plugin that allows for the use of non-relative paths, and struggling to make it work with proxyquire.

Suppose a directory structure of:

[code]

`babel-plugin-resolver` allows `baz.js` to import `hodor.js` as `import hodor from "hodor/hodor/hodor"` instead of `import hodor from "../../hodor/hodor/hodor"`, but

[2016-11-04 15:57] bendrucker commented on #142
The babel plugin is doing static analysis to find your requires. It's possible to do the same for proxyquire. You'd have to write a more elaborate plugin to detect the node where `require('proxyquire')` is assigned to a variable. You'd then have to track function invocations of that variable and look at the object passed in. You could re-map the keys as absolute paths relative to the filename to m

[2016-11-04 15:57] #142 closed

[2016-11-07 13:16] benoittgt commented on #141
I finally did :

[code]

[2016-11-07 15:25] bendrucker commented on #141
Nice! Be careful with the mutable stubs where you assign the value later. That may work here but I find it makes control flow very difficult to follow and leaves your tests super brittle to any sort of refactoring.

[2016-11-08 14:32] benoittgt commented on #141
Thanks for the tips @bendrucker

[2016-11-10 15:30] jasonrhodes commented on #136
So just a +1 and some extra details here, turns out if you use an ES2015 JS `class` and don't use `noCallThru`, when the `fill-keys` lib does the merge using the `merge-descriptors` lib, it uses `hasOwnProperty.call` to check if the passed in mock has the method, which won't find instance methods. To support instance-based proxyquire mocks, would need to PR `merge-descriptors` or find a new way to

[2016-11-10 16:42] bendrucker commented on #136
Using in might be ok. Will happily review a PR to fill keys with tests.

[2016-11-20 20:35] gauntface opened #143 "Possible to check if a class was required?"
Bit of a weird test so bare with me.

I'm writing a helper library for selenium and one thing I'm doing is that when a "LocalBrowser" is requestws, i.e. Chrome, or Firefox, I `require()` the appropriate driver (i.e. `require('chromedriver`) or `require('geckodriver')`).

These driver dependecines are options for the library, so they may be available, they may not be.

So the `require()` call for t

[2016-11-20 22:33] bendrucker commented on #143
Proxyquire doesn't expose any functionality for that. You could probably monkey-patch your way to this if you really wanted: https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L140-L168

[2016-11-20 22:33] #143 closed

[2016-11-21 09:11] d1manson opened #144 "Question - dealing with require.exports = ClassConstructor"
I originally asked this on [SO](http://stackoverflow.com/q/40677724/2399799) but got no reply - I'm guessing here would be a better bet....

If I have a module that exports a single class, how can I mock/stub it with `proxyquire`?

Currently I have the following, which seems to work, but is rather lengthy and doesn't make proper use of `proxyquire`:

**some-class.js**

    var SomeClass = function

[2016-11-21 13:16] bendrucker commented on #144
What are you expecting proxyquire to do here for you? Automatically set up a constructor and clone a prototype for you? Because it doesn't do that.

[2016-11-21 18:05] bendrucker commented on #144
If you pass in a function as a stub proxyquire will try to extend your stub's prototype with the original:

https://github.com/bendrucker/fill-keys/blob/master/index.js#L10-L12

So if you want to override a class, you have to override the constructor (always) but can provide only the method you intend to override on your stub's prototype. Does that help?

[2016-11-21 18:19] d1manson commented on #144
Hmm, I think that's the answer I was looking for.  Thanks!
It would be nice though if `proxyquire` provided the original constructor to the stubbed function so that it can use `apply` (or whatever) as needed...actually, maybe it is already available as `this.prototype.constructor`?
If I can do what I wanted here, I suggest putting an example in the docs, because I stared at them for a while but co

[2016-11-21 19:35] bendrucker commented on #144
No problem. I agree that class examples would be helpful. Will keep it in mind for future work.

[2016-11-21 19:35] #144 closed

[2016-11-23 12:14] manojlds commented on #137
Had the same case:

a.js:
[code]

test.js:
[code]

[2016-11-29 12:12] alathon opened #145 "Proxyquire with supertest / koa"
I have a bit of a complicated situation, where I'd really like to be able to use proxyquire.

We use a third-party service (Twilio), and we have routes in Koa that Twilio needs to communicate with our system. I'd like to write tests for these routes, but they make use of a Twilio javascript library, which checks for certain headers and valid data from Twilio itself. Ideally I stub these out someho

[2016-11-29 14:21] bendrucker commented on #145
You must proxy your own modules. You can't just pick any third party one and expect it to work. You must have registered your server and called the original code earlier.

[2016-11-29 14:21] #145 closed

[2016-11-29 14:31] alathon commented on #145
I'm trying to understand *how* to accomplish this, but your answer doesn't really get me any closer to that.. Is there somewhere else you'd rather questions appear, than as issues? (e.g. a gitter chat, stack overflow)

[2016-11-29 16:44] bendrucker commented on #145
Please upload a fully runnable project that can be executed w/out transpilation (no Babel!) so I can see a failing test and then fix it. I give most of my attention to bugs/PRs. If you want general support and can make it as easy as possible for me I don't mind looking at your code for a few minutes.

[2016-12-14 06:06] tomitrescak opened #146 "Stubbing modules deeper in hierarchy does not work (or I'm doing something wrong)"
Hi, thanks for the great module! It is the best thing that happened to me in combination with wallaby.js ;) I have a problem with stubbing modules, that are not directly in required files.

I have file A:

[code]

file B

[code]

file C

[code]

Now, in my test if I use proxyquire

[code]

The foo is still loaded. I can see that proxyquire is still tryiong ot load the original foo, and not use the

[2016-12-14 12:08] bendrucker commented on #146
`noCallThru`

[2016-12-14 12:08] #146 closed

[2016-12-14 12:20] tomitrescak commented on #146
I tried that even before, but no luck.

[2017-01-04 16:11] kimmobrunfeldt commented on #146
This type of proxyquire usage doesn't work for me either. I needed to add `'@global': true` to make it work.

[2017-01-04 16:40] montrealist commented on #144
Hey @d1manson did you ever figure out how to optimize this with proxyquire? Grappling with the same issue now.

[2017-01-08 19:03] chuckwilliams37 commented on #99
Is it possible that the time to cross this bridge has come?  I'm working on a new project, learning ES6, and have no idea where to begin with this

[2017-01-08 20:32] bendrucker commented on #99
No, until Node natively supports `import` proxyquire will need to change. As long as everyone's just transpiling there's no need. FWIW, I strongly recommend you not use `import` and instead stick to the ES6 features that are well-supported in Node.

[2017-01-08 20:38] chuckwilliams37 commented on #99
Thanks for the guidance!  I guess I'll write my firebase-related tests
without imports.

On Jan 8, 2017 13:32, "Ben Drucker" <notifications@github.com> wrote:

[2017-01-09 13:28] srkimir opened #150 "How to handle indirect require?"
Having something like:
[code]

From test i will invoke exported function from module 'foo.js', and i want to stub modules 'a.js' and 'b.js', dont have anything in mind except following:

[code]

[2017-01-09 14:31] bendrucker commented on #150
Please consult the docs for the `@global` option

[2017-01-09 14:31] #150 closed

[2017-01-12 18:01] jccpdev opened #151 "Question: can I proxyquire a dependency of a parent class?"
I have a situation where I want to stub a required module of a parent class, is this possible?

[2017-01-12 18:57] bendrucker commented on #151
Happy to help if you provide some code as an example

[2017-01-12 19:07] jccpdev commented on #151
Hello @bendrucker, I actually had one of the guys at me company show me how. I am just going to close this.

Thank you anyways.
by the awesome module, I use it every day!

[2017-01-12 19:07] #151 closed

[2017-01-17 15:00] dylanparry opened #152 "Cannot read property 'bind' of undefined"
Hi,

I'm having an issue where regardless of what module I 'require', I'm getting the error `TypeError: Cannot read property 'bind' of undefined`

![error](https://cloud.githubusercontent.com/assets/3692873/22025237/ce7acbd4-dcc4-11e6-8419-f1348fbbb7d1.png)

In this example, I'm loading in a module that uses a couple of React components, and as I don't want the entire app to be mounted, I'm attemp

[2017-01-17 16:30] bendrucker commented on #152
Would be helpful to get an example I can run in Node, ideally without the use of import.

[2017-01-17 16:59] dylanparry commented on #152
test.spec.js:

[code]

test.js:

[code]

The `./components/app` file shouldn't need to exist as I'm attempting to mock it via proxyquire, is that a correct assumption?

![error](https://cloud.githubusercontent.com/assets/3692873/22030456/8d76359a-dcd5-11e6-9f13-9db4ba009d7f.png)

This is what I'm getting when running the test file through Jest. I've omitted any actual tests from the file, as they'

[2017-01-17 17:09] dylanparry commented on #152
Just a thought, as some of the files in my project have the `.jsx` extension, could it be this that's causing it? So it fails to find the modules because they don't have a `.js` extension? If so, is there a setting I can change to make this work?

[2017-01-17 17:26] bendrucker commented on #152
Can you upload this all as a project so I can npm install and npm test to reproduce the issue?

[2017-01-18 11:13] dylanparry commented on #152
Hi. I've realised that I'm attempting to do something that probably shouldn't work, due to the set-up of my project, so have decided to try a different approach. I'll close this bug now—thanks.

[2017-01-18 11:13] #152 closed

[2017-01-19 18:15] karlhorky commented on #152
Ran into this today, and it turned out to be because of Jest (Jest is incompatible): https://github.com/facebook/jest/issues/1937#issuecomment-254089972

[2017-01-19 18:19] dylanparry commented on #152
I came to a similar conclusion when I remembered that Jest has its own mocking abilities :)

[2017-01-26 13:39] iatsiuk opened #153 "Fake module presence"
How to simulate that some module is installed?

Content of `index.js`:
[code]
Content of `test.js`:
[code]

[code]

[2017-01-26 17:24] bendrucker commented on #153
Your example is correct. You'll need to enable `noCallThru` though. It's called out/explained in the docs here:

https://github.com/thlorenz/proxyquire#preventing-call-thru-to-original-dependency

[2017-01-26 17:24] #153 closed

[2017-01-26 19:03] #108 closed

[2017-01-26 19:06] bendrucker commented on #137
Sorry for the delay here. A failing test would be a nice contribution (as a PR) if anyone's looking to pitch in and move this forward.

[2017-02-01 01:12] webbbret opened #154 "How to handle daisy changed function calls and the use of spread..."
I have the following function:

[code]

For my test, a few things occur:

1. It fails on spread stating that the .then(..).spread is not a function. So I am not sure I could even mock that function since it belongs to JavaScript, or I believe es5?
2. Some of the functions being called within the chained then never get called because they are functions that are not part of the export statement, and

[2017-02-01 01:22] bendrucker commented on #154
Hi, I read through this twice and can't make sense of what you're trying to do. Since this isn't a bug/request I'm going to go ahead and close this out. If you're willing to create a repo with a sample project I can `git clone && npm install && npm test` to see a failure I'd be happy to try to help then.

[2017-02-01 01:22] #154 closed

[2017-02-07 14:37] davegri opened #156 "Proxying destructured imports"
I have a file with the following import
[code]

When testing a function in this file that uses `getOrgs` I would like to stub it out, how would I do that?

[2017-02-07 14:50] bendrucker commented on #156
Make the stub an object: `{getOrgs: function () { /* ... */ }}`

[2017-02-07 14:50] #156 closed

[2017-02-07 15:08] bisubus opened #157 "Nested modules are not mocked"
Here is a hierarchy of modules I'm using.

I would expect that `abc/c/index.js` will be mocked, because `./c` path is relative to `abc/a.js` and `abc/b.js`. If `require('./c')` happens in `abc/b.js`, it is not mocked. But if `require('./c')` is in `abc/a.js`, it is mocked.

I've honestly RTMed, but the purpose of `noCallThru` here is not clear for me also. I would expect that it will prevent unmoc

[2017-02-07 15:11] bendrucker commented on #157
https://github.com/thlorenz/proxyquire#globally-override-require

This is specifically called out as not recommended since globally mocking dependencies means your tests are no longer isolated and you're leaking knowledge of n > 2 degree dependencies of the module under test.

[2017-02-07 15:11] #157 closed

[2017-02-07 15:23] bisubus commented on #157
@bendrucker Thanks, indeed, this worked for me:
[code]

But this also means that modules need `@global` property and cannot be primitives, right? This is something that troubled me in `rewire`.

[2017-02-07 15:37] bendrucker commented on #157
Correct, strings and numbers won't work. Functions and anything else that allows property assignment will. The real answer here is don't do global mocking. It makes sense when you have a global dependency system (e.g. injector a la C#). `require` is isolated and relative to the source module and your tests should be too.

[2017-02-08 09:06] is24i18n opened #158 "if the module is not yet in require cache (.noPreserveCache() NOT being used) proxyquire will install the proxied module in require cache"
// a.js
exports.foo = function () {require('./b').foo()}
// b.js
exports.foo = function () {console.log('foo');}

// test1.js, prints bar, bar (unexpected)
require('proxyquire')('./a', {'./b': {foo: function () {console.log('bar');}}}).foo();
require('./a').foo();

// test2.js, prints bar, foo (expected)
require('./a');
require('proxyquire')('./a', {'./b': {foo: function () {console.log('bar');}}}

[2017-02-08 14:29] bendrucker commented on #158
That's expected, proxyquire uses the normal require cache by default

[2017-02-08 14:29] #158 closed

[2017-02-08 15:53] is24i18n commented on #158
IMHO if the module is not in require cache proxyquire should

option 1) install the original, not yet proxified module in the cache 1st, so that later calls to require can get the unmodified version
option 2) leave the cache empty, so that later calls to require can install the original version

but again this seems to be a feature..

[2017-02-24 15:05] fetherolfjd opened #159 "Using proxyquire with requires with arguments"
Our application uses express and adds routes in the following style:

    // app.js
    var express = require('express');
    ...
    var app = express();
    app.use(...);
    ...
    require('./routes/fileRoutes')(app);
    ...
    module.exports = app;

    //fileRoutes.js
    module.exports = function (app) {
      var router = express.Router();
      app.use('/service/files', router);
      v

[2017-02-24 16:52] bendrucker commented on #159
Sure! You need to replace your actual module with a function that takes in an `app` and do what you want. You cannot override `methodIWantToStub` since that's local to your source code. Proxyquire allows you to replace dependencies before a module is loaded, not change the runtime behavior of your code.

[2017-02-24 16:52] #159 closed

[2017-03-22 00:28] ChaseMoskal commented on #117
To stub a function on a default import/export, I successfully used the following:

    import utilities from "./utilities"

    const PaperclipMaximizer = proxyquire("./PaperclipMaximizer", {
      "./utilities": {
        default: Object.assign(Object.create(utilities), {

          // Stubbed function placed onto the default export.
          sum: (a, b) => a + b
        })
      }
    })

In th

[2017-03-22 06:54] raghavgujjar opened #160 "Proxyquire not working as expected with cloudinary"
I'm trying to stub cloudinary so that it doesn't call a real service in the unit tests. This is the test in the unit test folder of my express app. I'm using super test. The route /upload is using a method in the folder services/uploader of the application which depends on cloudinary. The way to invoke is cloudinary.uploader.upload(input, callback) and needs a config before this, clooudinary.confi

[2017-03-22 07:06] raghavgujjar commented on #160
I'm spending a lot of time @thlorenz . Any immediately assistance will be highly appreciated.

[2017-03-22 13:30] bendrucker commented on #160
Hey man, please don't come into an open source project demanding immediate assistance. Because you didn't supply the source code it's impossible to know what mistake you made. If you supply the source module I can try to help.

[2017-03-22 13:30] #160 closed

[2017-03-22 15:35] raghavgujjar commented on #160
@bendrucker First of all thanks for misconstruing the issue I have posted. I didn't demand immediate assistance. I just said "Any immediate assistance will be appreciated". I'm actually OK to spend some more time debugging the issue myself. I just though I could reach out to save me some time. This is the source code module: https://github.com/cloudinary/cloudinary_npm

[2017-03-22 15:44] bendrucker commented on #160
Sorry to come off a bit aggressive but pinging the author of a module and pushing for special time sensitive help for your own project is not cool. You might consider that Thorsten has 350 other modules to maintain and a full time job. Sarcastic responses aren't helpful to anyone either.

The module you linked to is not your source code. We need to see _your_ source code, not the module you're con

[2017-03-22 16:10] raghavgujjar commented on #160
Sorry. I didn't mean to be sarcastic. The code is in a private repository.
I'll try to summarize. It is an express app.
test/routes/upload.js
[code]

app.js
[code]

routes/upload.js
[code]
services/uploader.js
[code]

[2017-03-22 16:29] bendrucker commented on #160
Cool, this is exactly what I need to help. Pretty sure the reason this is broken is because you require the app first. Proxyquire isn't really a mocking library the way sinon is where you patch global state. Ideally you keep your mocking isolated to a specific copy of the module via require and a lot of complex machinery inside proxyquire/`Module`.

You're basically getting your whole app initiali

[2017-03-24 15:46] raghavgujjar commented on #160
@bendrucker thank you for your suggestions and being on top of this one replying immediately.

[2017-04-22 17:57] Telokis opened #161 "Proxyquire not stubbing when called by `npm test`"
Version: 1.7.11

I have this:

[code]

If I call the file with `./node_modules/.bin/mocha test/caching.test/caching.test.js` it works pretty fine, an error is properly thrown.

But if I do `npm test`, the stubbing doesn't happen and `fs` is successfully loaded by my library.

[2017-04-23 01:02] bendrucker commented on #161
This is going to be incredibly difficult to track down without more information. It's pretty clear to me that this isn't a proxyquire bug/issue and more of a general support request. Happy to try to help if you have more info to post but for now I'll go ahead and close this out.

[2017-04-23 01:02] #161 closed

[2017-04-23 12:41] Telokis commented on #161
Well I think this is a proxyquire related thing since everything else is behaving as expected.
I do not think this is a bug but rather a thing I'm doing wrong.
My first guess was that proxyquire is using the cached version of fs.

[2017-04-23 13:01] thlorenz commented on #161
OK, so it is some sort of support request then ...
We cannot help you unless we have a version of your code online with which we can reproduce your problem. Therefore please push something on github which shows the problem when we just do the following `npm install && npm test`.

That said we can't guarantee to help you even then since our time is limited as well and maintaining proxyquire is some

[2017-04-23 14:13] Telokis commented on #161
You can get it in the Amie repository in my profile. http://github.com/telokis/amie.
The test is in the file `test/caching.test/caching.test.js`. It is currently commented out because of travis. I'm on my phone but I'll try to update it quickly to match what I wrote above.

Thanks for helping me, I find this issue really odd since I'm not doing anything specifically particular.

[2017-04-23 14:36] Telokis commented on #161
@thlorenz Alright the repo is up to date with the original post.
The test should fail because fs is not found but fails for another reason

[2017-04-23 21:52] Telokis commented on #161
One strange thing is:
Doing `./node_modules/.bin/mocha test/caching.test/caching.test.js  test/basic.test/basic.test.js` triggers the not found error.
But doing `./node_modules/.bin/mocha test/basic.test/basic.test.js test/caching.test/caching.test.js` ignores the stub.

This has to be an issue with caching. Maybe mocha does stuff I don't know about? But why would I be the first one to experience

[2017-04-23 23:58] bendrucker commented on #161
The order thing is super important, that's the issue here.

You require your module via proxyquire in your `caching` test and mock-remove `fs`. Then in your `basic` you use a plain require. You'll just need to use `noPreserveCache` in your `caching` test. Otherwise you end up with your root module in the cache. You had that in your original example but I don't see it in the source.

[2017-04-24 11:43] Telokis commented on #161
@bendrucker Sorry, I forgot to put it back in the code I updated yesterday.
But with or without `noPreserveCache` the result is strictly the same.

[2017-04-26 06:19] Telokis commented on #161
@bendrucker @thlorenz Is this a *real* issue or did I misunderstand the purpose of `noPreserveCache`?

[2017-04-29 03:10] dman777 opened #162 "Stubbed fetch can only be asserted once - How do I assert in the second invocation?"
I am using proxyquire, sinon-chai, and mocha.

I have a stubbed `fetch`. In my source code, `fetch` runs twice. But I am only able to assert it once. How would I assert it twice?

[code]
---------------------------------------------------------------------------

[code]

##### results
[code]

[2017-04-29 09:07] thlorenz commented on #162
Please ask this in the sinon repo. Your particular question isn't related to proxyquire.

[2017-04-29 09:07] #162 closed

[2017-05-05 11:27] Telokis commented on #161
@bendrucker @thlorenz Could you, please, reopen this issue or answer me?

[2017-05-05 15:14] bendrucker commented on #161
Hey sorry I don't have time to pursue this further at the moment. Don't think Thorsten will either. If you can develop a failing test as a PR I could dig from there.

[2017-05-19 01:02] brendan-roche commented on #116
This issue was closed, but what was the resolution for this?

I'm hitting this issue now too.

[2017-05-24 06:20] web-bert opened #166 "No changelog"
I can't figure out if it's safe to install the latest version if I don't know what has changed.

[2017-05-24 07:27] thlorenz commented on #166
Please just have a look at the commits, each version is clearly tagged, so it's actually very easy to see what changed between versions.

[2017-05-24 07:27] #166 closed

[2017-05-30 08:20] touzoku opened #167 "_overrideExtensionHandlers tries to write to read-only require.extensions"
Not sure how to isolate this problem, it appears only when I'm trying to use proxyquire from an atom editor plugin.

I call proxyquire like this:
[code]

But it fails with:
[code]

Where line 272 of proxyquire.js is as follows:
[code]

So it looks like `require.extensions['.js']` is read-only in atom editor environment. And it the use of it is deprecated too... I wonder how this could be fixed?

[2017-05-30 08:27] touzoku commented on #167
Supposedly it is caused by [this code in atom editor](https://github.com/atom/atom/blob/910fbeee31d67eb711ec0771e7c26fa408c091eb/src/compile-cache.js#L231).

[code]

I wonder if it could be fixed using a simple addition of `Object.defineProperty(require.extensions, extension, { writable: true });` in `_overrideExtensionHandlers` function.

[2017-05-31 07:23] touzoku commented on #167
It is quite difficult to write a test for this, I'm probably not as good in JS...

So apparently it is not just about writable vs non-writable. For some reason in atom, the `Object.getOwnPropertyDescriptor(require.extensions, extension)` returns a descriptor that does not contain neither `value`, nor `get`, nor `set` properties.

For example, when you try to access `require.extensions['.js']` — it

[2017-07-01 17:01] BillyZac opened #169 "How to do ES6 import/export correctly?"
[See this](https://github.com/BillyZac/proxyquire-question) for a reproduction of the issue.

The module I want to test exports using ES 6 export default. In order to make it work, I have to add .default in the proxyquire call. (See fetchBuilds.test.js.) This seems not quite right.

Let me know if more info is needed. Any help is much appreciated!

[2017-07-01 18:47] bendrucker commented on #169
So `import`/`export` aren't really a thing, just something Babel makes up. So yeah, you'll have to add that `.default` because proxyquire isn't aware of the module hackery going on behind the scenes. Babel's really doing the same thing for you if you look at the runnable output.

I recommend strongly against the use of those keywords in any Node modules for exactly this reason. You're relying on t

[2017-07-01 18:47] #169 closed

[2017-07-03 13:53] BillyZac commented on #169
Okay, many thanks for taking the time to let me know.

[2017-07-04 14:39] DzmitryU commented on #130
@keenwon why did you close this task? What solution did you find for stopping proxy after test?

[2017-07-15 04:18] enuggetry opened #170 "Could not override functions in Sails.js app"
I just couldn't get it to override any of my functions.
[code]
I ended up using mock-require -- had no problems.

[2017-07-15 13:25] bendrucker commented on #170
I haven't used Sails. You'll have to share a project with us that I can run `npm install && npm test` on and see the error. Your code looks pretty fishy (is `sails/utils` a module?) but we won't be able to help without a full example.

[2017-07-15 13:25] #170 closed

[2017-08-01 15:58] Floriferous opened #171 "Support for wildcard strings"
I have a use case where it would be helpful if I could stub modules using wildcard strings.

As an example, one of my own files isn't required during testing, and messes with my tests. But it is imported using various paths:
[code]
or
[code]

I wish it was possible to stub it out this way:

[code]

Is there another way I can do this now, or could this feature be added?

[2017-08-01 16:28] bendrucker commented on #171
No way do to this. I doubt we'd ever include something like this, adding new module resolution outside of explicit/exact matching is against the spirit of proxyquire.

[2017-08-01 16:28] #171 closed

[2017-09-01 15:26] jacopolanzoni opened #172 "proxyquire does not like import"
I have the following module in a file constants.ts:

`import * as _ from 'lodash';`
`config = require('/config.json');`
`export namespace constants {`
`  export const myVariable = config.myField;`
`}`

Here, lodash is used for some manipulation in lines that I have removed to provide a minimal code. I am trying to write a test as the following:

`import { expect } from 'chai';`
`describe('Constant

[2017-09-01 15:36] bendrucker commented on #172
It's not exactly the same situation, but this is the best answer I can offer: https://github.com/thlorenz/proxyquire/issues/169#issuecomment-312449177

Proxyquire is a node module and it's up to you to figure out how to make things work with any "fake" module system you choose to use on top of Node/`require`/CommonJS. I've personally never used Typescript so I couldn't even tell you where to start

[2017-09-01 15:36] #172 closed

[2017-09-01 15:39] bendrucker commented on #172
Another way to phrase this: `proxyquire` is just using the internals that back `require` to load the module you tell it. If your module isn't valid JS (like `import`) Node will bail.

[2017-09-07 19:53] eliw00d opened #173 "@std/esm compatibility?"
Are there any plans to support [@std/esm](https://github.com/standard-things/esm) by allowing their require to be passed in for proxyquire to use internally?

[2017-09-07 19:58] bendrucker commented on #173
I'd say there's no plans but we'll review a PR if someone interested in it takes a stab

[2017-09-15 15:46] jcrben commented on #88
Now that ES modules are available locally in 8.5 under the CLI flag `--experimental-modules` (see http://2ality.com/2017/09/native-esm-node.html), perhaps this should be revisited.

[2017-09-15 16:04] thlorenz commented on #88
@jcrben if this is possible/what needs to be done is entirely dependent on how `import` plays together with require extensions.
In the ideal case in both the below cases proxyquire would work as before:

[code]

You could help by running some experiments to see how much that is true.
I personally have no bandwidth at the moment to look into this nor will I use `import` in my node code for a long t

[2017-09-19 14:52] charlespwd opened #174 "Proxyquire is leaking on module.parent"
This one took me a while to figure out, had to write [my own "slim" proxyquire](https://github.com/charlespwd/proxyquire) to find it.

Where I work, we use proxyquire to mock our modules and our test suite has around 1050 tests. We ran into issues where `mocha --watch` would crash after a couple of runs because the garbage collector was not able to garbage collect anymore.

If I compare successive

[2017-09-19 15:11] thlorenz commented on #174
Interesting. Never ran into this due to using/testing smaller modules, but I understand this can be annoying.
As you probably understand we have to remove the `proxyquire` module from the cache in order to force re-require so we can grab the module that is requireing proxyquire.
This is done [here](https://github.com/thlorenz/proxyquire/blob/master/index.js#L6).

Do I understand correctly that sim

[2017-09-19 16:23] charlespwd commented on #174
That could work. `proxyquire` itself would be leaking if it is called multiple times (e.g. in a `beforeEach`). But since the parent doesn't hold a reference to it in its children, it might be enough for the garbage collector.

[2017-09-19 16:43] thlorenz commented on #174
How would it be leaking? what's holding onto it?

[2017-09-19 16:44] charlespwd commented on #174
That does not seem to be enough. Here's what my memory looks like after successive tests without a `module.parent.children.pop()` after every `Module._load`

[code]

And here's what it looks like with `parent.children.pop()` after `Module._load(request, parent)`

[code]

[2017-09-19 16:58] charlespwd commented on #174
When doing `Module._load('../foo', parent)` [a new Module is instantiated](https://github.com/nodejs/node/blob/master/lib/module.js#L467) and [`parent.children` gets pushed that instance](https://github.com/nodejs/node/blob/master/lib/module.js#L68), [even if it is cached](https://github.com/nodejs/node/blob/master/lib/module.js#L457).

So, in proxyquire, [here](https://github.com/thlorenz/proxyqu

[2017-09-19 16:59] thlorenz commented on #174
The only thing I can imagine is that one of your modules is kept in the require cache and keeps collecting proxyquire children somehow?
Not sure if this can/should be fixed within proxyquire.
Are you requiring proxyquire multiple times in your test instead of just the top of the file?

[2017-09-19 17:02] charlespwd commented on #174
I'm only requiring it once per file.

[2017-09-19 17:08] thlorenz commented on #174
OK you'd need to dig through the snapshot (retainers view) to find the actual source of your problem.
This is the first time I see this related to proxyquire.
If you find a problem inside proxyquire and a way to fix it, we'll greatly appreciate a PR.

Quite honestly though I see a possibility that the problem lies elsewhere in your code ... hard to tell as I don't have access to it or the snapshot

[2017-09-19 17:48] charlespwd commented on #174
I would find it unlikely that the problem lies in our code since we hotswapped this project by https://github.com/charlespwd/proxyquire/ (not a fork) and we don't experience any leaks.

I can comment both [this line](https://github.com/charlespwd/proxyquire/blob/master/src/proxyquire.js#L116) and [this line](https://github.com/charlespwd/proxyquire/blob/master/src/proxyquire.js#L50) and experience

[2017-09-19 20:44] thlorenz commented on #174
Not trying to argue about where leak is coming from, just mentioned that this is the first kind of this issue and wanted to open your eyes to the possibility.

Obviously commenting parts of proxyquire could introduce mem leaks.
What we'd need to do is finding the one that's there currently (w/out commenting anything) and fixing it.

As I said if you find a way to do that we'll gladly accept a PR.

[2017-09-25 19:48] E314c opened #175 "handling imports that have de-structuring (nodeJs)"
Hi,
This may not be possible, but I thought it worth checking / commenting, if only to get it put it in the README's gotchas:

I'm trying to use object de-structuring in my imports, but proxyquire is then unable to proxy them if I adjust them later on.

example code:
foo.js
[code]
foo.spec.js
[code]
When you call `foo();` in the test file, it will only ever refer to the stub function declared _bef

[2017-09-25 19:54] bendrucker commented on #175
When you destructure the module and assign `exports.add` to a variable, you can't go and overwrite it in code later. You're not updating add. This has nothing to do with destructuring itself, `add = require('./lib').add` would have the same result. This isn't really related to proxyquire at all either.

If you want to mutate the stubs, you need to also re-assign foo after calling proxyquire again

[2017-09-25 19:54] #175 closed

[2017-10-17 00:08] neoadventist commented on #98
@prajwal78 did you ever resolve your issue? Do you remember the _ah-ha_ moment when you got this to work?

[2017-10-17 20:59] justinmchase opened #176 "Always noCallThru?"
Is there a way for me to set noCallThru globally? I want this to be the default behavior in my tests and don't like setting it in each test file.

[2017-10-17 22:37] bendrucker commented on #176
There is no way to set `noCallThru` globally

[2017-10-17 22:37] #176 closed

[2017-10-19 13:08] prajwal78 commented on #98
@neoadventist Its been almost 2 years since I used proxyquire and it solved my problem. I don't remember exactly the details at the present moment. In the meanwhile, I will dig at my old projects where I used this package. It would be great if you could tell me what you want to solve.

[2017-11-13 21:32] ip opened #177 "Is the project alive?"

[2017-11-13 22:46] mariojunior commented on #177
I just came here to check the same.
I've used proxyquire for one year or more, but when I typed 'proxyqu...' my Editor (Vscode) suggested proxyquire and proxyquire-2 ... then I'm checking what are the differences.

Proxyquire-2 is a fork of this one (which is original) and introduced some new methods, but, to be honest, are useless to me ... although, I'm going to use proxiquire-2 once the forked

[2017-11-13 23:39] bendrucker commented on #177
Sure! Shame someone chose to fork and throw a 2 on at the expense of confusion. We’re fixing bugs as they come and responding to questions. Thorsten and I both maintain quite a lot and don’t always have time to chase down everything. I use proxyquire in tons of projects and effectively consider it “done.” Nothing’s truly done but pq is stable with tons of happy users.

[2017-11-13 23:39] #177 closed

[2017-11-13 23:40] bendrucker commented on #173
Closing bc of inactivity

[2017-11-13 23:40] #173 closed

[2017-11-14 08:32] ip commented on #177
It's good to know that it's stable. It was just suspicious to me that the last commit was half a year ago.

[2017-11-14 08:33] mariojunior commented on #177
Guess what... since the 'new-and-not-documented' methods from proxyquire-2 are useless to me, I'm holding the original proxyquire on my project. :)

[2017-11-14 16:44] bendrucker commented on #177
I usually look at open issues/PRs as a signal of project health. If there are lots of serious gaps that aren't being addressed that's a problem. Some projects are just "done," never literally, but in the sense that they're stable, tested, and the authors are committed to a small API.

[2017-11-17 13:31] CMCDragonkai opened #178 "Stubbing with the es6 class instances"
I noticed that if you stub with an instance of an ES6 class for a given object it often doesn't work because the class methods are in the prototype of the instance, and not directly on the instance. Is there a way to make require work on the prototype functions as well?

[2017-11-22 07:54] ccheung0926 opened #179 "Cannot Stub function when the key is process.cwd() + '/path'"
so inside my actual JS file, it requires a module like this:
[code]
and when in my test file, when I tried to create a mock object stub by creating the same key
[code]
it does not really stub the function called.

[2017-12-06 16:47] rbriank opened #180 "Proxying nested properties of destructed assignments"
#156  works for top-level properties but not for proxying nested properties.  For example:

**config.js**
[code]

**app.js**
[code]

**app.test.js**
[code]

Results in `middle` and `inner` being assigned the values from `config` instead of being proxied.

I tried making `top` an object instead of a function returning an object but that made no difference.

[2017-12-06 17:29] froxCZ opened #181 "Prevent module initialization code from executing"
I do not want any connection to database or redis during my tests, but at the same time, I want to have the connections initialized when the application starts.

Let's have the following files
[code]

I can use proxyquire to mock `db.js#getUsers`, but I can't prevent the test from initializing connection to database, because the initialization code in `db.js` is always executed.

Is there a way ho

[2017-12-06 18:29] bendrucker commented on #181
Hi, The idea of "preventing module initialization" isn't sound—a module is either loaded or not. Using import/export syntax muddies things a bit, but code is code, whether it's a function call or declaration. You can certainly replace `pgPromise` with a mock using proxyquire.

[2017-12-06 18:29] #181 closed

[2017-12-06 18:31] bendrucker commented on #180
In your test `top` is a function and in your source it's an object, could that be it?

[2017-12-06 18:43] rbriank commented on #180
No - that was the solution put forward in #156 for dealing with destructuring assignment.  It works but only for top-level, not for nested attributes.

I have tried making it an object, as well as making the properties inside objects and other permutations but nothings has made a difference.

[2017-12-06 19:09] bendrucker commented on #180
Can you submit a failing test in a PR for this? My understanding was that destructuring was just syntactic sugar so this doesn't make sense.

[2017-12-06 19:25] rbriank commented on #180
It is very strange. Even the answer to #156 doesn't entirely make sense to me.

[2017-12-06 19:45] rbriank commented on #180
Here is the PR: https://github.com/thlorenz/proxyquire/pull/182

It works though, so now I have to figure what is going with my code!

[2017-12-06 20:08] #180 closed

[2017-12-13 00:08] bendrucker commented on #178
Hi, can you please share an example of what you're trying to do? See [fill-keys](https://github.com/bendrucker/fill-keys) for the strategy pq is using to copy.

[2017-12-23 02:18] thisismydesign opened #183 "Confused on which name to match based on `path` example in README"
Hey,

I found the following line in the readme confusing:

`var path = require('path');`

Because I wasn't sure if later I need match the name of the variable or the argument of require. While naming them the same is common for simple examples this might not always be the case (e.g. dependencies whose name includes a dash).

Could you clarify this in the README?

[2017-12-23 02:26] thisismydesign opened #184 "Override dependency with a plain object"
Hey,

The README does a nice job detailing how you can override methods of dependencies. My use case  however was this: `Object.keys(dependency)`. So I simply wanted to override the dependency with an object.

Turns out this is possible using `noCallThru()` (or at least it has the desired side effect) but it took some time to figure this out.

Could you mention it in the README?

[2017-12-23 04:19] bendrucker commented on #184
Hey, please submit a PR! That's a good point and might not be obvious to a new user, we'd welcome your contribution.

[2017-12-23 04:19] #184 closed

[2017-12-23 04:26] bendrucker commented on #183
Hey, I think the inclusion of `simple-get` and the API docs section explain this properly. If you can think of a concise way to convey that earlier in the usage examples I'd be happy to review a PR.

[2017-12-23 04:26] #183 closed

[2017-12-29 14:19] Alexsey opened #185 "Allow to forbid the mocked module execution"
It would be good to have an opportunity to forbid the actual execution of a mocked module and just use provided value as a mock. Of course this make sense only with `noCallThru`. Consider a simple example:

I have a files `test.js`, `foo.js` and `bar.js` that looks like
`test.js`:
[code]
`foo.js`:
[code]
`bar.js`
[code]
Now if you execute it you will see `real bar` in console

The goal is to not s

[2017-12-29 14:30] bendrucker commented on #185
That doesn't sound right, the following should be skipped when `stub['@noCallThru']`:

https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L152-L154

If true this is definitely a bug, I'll look at tests now and write one if needed.

[2017-12-29 14:39] Alexsey commented on #185
Sorry, It was my bug - `'@noCallThru'` should be the property of a mock and not of the mock list. Just chante `test.js` to
[code]

[2017-12-29 14:45] bendrucker commented on #185
Oh yeah, I just noticed that as I was looking back at this

[2018-01-23 10:35] RiddleMan opened #186 "Proxyquire cache affects node's cache"
Issue is pretty simple to reproduce what I'd like to do it below

./bar.js
[code]

./foo.js
[code]

./foo.test.js
[code]

When you run `node ./foo.test.js` it will print following text in console.
[code]
I would expect `REAL foo` to be just `bar` instead of `fakeBar`.

It's even getting worse when you are running big set of unit test, because in the most of cases we can't reason about things which

[2018-02-09 02:18] bendrucker commented on #186
Hey, I agree this is how it should work. I may have some time to take a deeper look at caching behavior soon (few weeks). It's definitely the biggest source of confusion and complexity in pq.

[2018-02-09 14:10] asskopos opened #187 "Can you proxyquire a dependency which is not directly imported with require('...') ?"
Hi guys,

I am wondering if there is a way to proxyquire a dependency which is not directly imported with the require statement. E.g. I am using sequelize and have exported the sequelize model as explained in the go-to-guide http://sequelize.readthedocs.io/en/1.7.0/articles/express/#modelsindexjs .

My problem is, that I am requiring a model like so:

[code]

Now I want to overwrite the User with

[2018-02-09 14:18] asskopos commented on #187
I have found it by myself. 10 minutes coffee break can help a lot of the brain is stucked. :D

[code]

[2018-02-09 16:02] bendrucker commented on #187
Hi, this seems pretty specific to your setup and not generalizable. If you think there's a contribution to be made here please feel free to send a PR.

[2018-02-09 16:02] #187 closed

[2018-02-13 11:41] palaniichukdmytro opened #188 "Stub with sinon dynamic import promisse"
I am trying to stub with proxyquire dynamic import  prossime.  How to do that ?

'exportToExcel.js'
[code]

test.js

[code]

[2018-02-13 17:51] bendrucker commented on #188
Hi there, this isn’t an acceptable issue that we can help with. Feel free to reformat in a way that’s concise and clear instead of just pasting your code. Otherwise this might get an answer on StackOverflow.

[2018-02-13 17:51] #188 closed

[2018-02-21 20:54] kub1x commented on #178
Think I might have the same issue. I want to mock redis library using the [redis-mock](https://github.com/yeahoffline/redis-mock). Since redis-mock [exports an object instance](https://github.com/yeahoffline/redis-mock/blob/master/lib/redis-mock.js#L101), I had to get the `__proto__` out from it and pass it to proxyquire.

    const redisMock = require('redis-mock');
    const app = proxyquire('..

[2018-02-21 21:03] kub1x commented on #178
@bendrucker Yep. fill-keys uses merge-descriptors, which [checks hasOwnPropperty](https://github.com/component/merge-descriptors/blob/master/index.js#L49). You might be better of using something like:
    for (prop in mock) {
        targetLib[prop] = mock[prop];
    }
and you'd drop a trivial dependency as a bonus.

[2018-02-21 21:36] bendrucker commented on #178
It's never that easy, copying the descriptors was a past feature/bug request. Happy to consider alternate behavior but we are trading bugs and doing simple assignment in a loop.

[2018-02-22 14:42] kub1x commented on #178
@bendrucker Cool. I tried changing it in the proxyquire and it somehow worked for me but didn't pass the tests. I understand there is much more cases to consider. The `__proto__` workaround did the job for now.

[2018-02-22 16:30] bendrucker commented on #178
Cool, glad you have something for now. There are two fundamental issues open: this and module caching. I'm interested in looking at some point but haven't reserved time for it yet.

[2018-03-01 02:43] jwalton opened #189 "Proxyquire merges together files with the same relative path."
Directory structure:

[code]
Files:
[code]
[code]
[code]
[code]
[code]

### Expected behavior:

`index.js` requires `./a/index.js` via proxyquire, and overrides the propery `c` of './util.js`.  Since `a/util.js` defines a property `a`, we would expect the `console.log()` in `./a/index.js` to print:

[code]

### Actual behavior:

[code]

Every time any file does `require('./util')`, proxyquire requ

[2018-03-01 02:55] jwalton commented on #189
If you modify `./index.js` to look like:

[code]

Then it prints:

[code]

because `b/index.js` ends up in the node.js cache.  O_o

[2018-03-01 03:00] bendrucker commented on #189
There are other issues about confusion around caching. We're aware of that, it's something I'm interested in budgeting time to look at.

The first example is pretty surprising though. Two modules with the same basename but different absolute paths shouldn't really bear any relationship to each other.

I'll definitely keep this open but may not have time in the immediate future to debug.

[2018-03-01 03:23] jwalton commented on #189
I'm going to take a stab at a PR for fixing this tomorrow.  The problem is right [here](https://github.com/thlorenz/proxyquire/blob/62de97c5380248d2eadf0f7da734fcf11b7f1cc3/lib/proxyquire.js#L144-L145).  When we index into `stubs[path]`, `path` here is the relative path, and it should be the absolute path (in this case).

I'll see if I can put some time towards a PR tomorrow.  Basically, though, i

[2018-03-01 13:42] everm1nd opened #191 "Proxyquire mutates stub if overridable module exports an array"
Expected:
`goodies` dependency is being overloaded my proxyquire and replaced with `stubs` variable.

Actual:
`stubs` is mutated and contains one additional element from `goodies` module. `someModule` gets this mixed array as an overload.

[code]

[code]

[code]

[2018-03-01 16:25] bendrucker commented on #191
We do not clone stubs like you're expecting. That test will never pass. The asserted value should include A, B, C.

[2018-03-01 18:01] #191 closed

[2018-03-01 18:04] bendrucker commented on #191
Hey, I tested this on the upstream package that tries to merge the keys. My original expectation was wrong—see those two linked commits for the behavior. I was unable to reproduce your specific problem where you see only once element appended.

There's no clear right answer here for arrays. Stub objects are merged with the actual module by default as a convenience (e.g. patch `fs`) but I'd rather

[2018-03-02 22:20] #189 closed

[2018-03-09 01:37] mutantcornholio commented on #133
I don't think that this testcase is correct.

I mean, how proxyquire would overwrite modules inside your module if it won't be executed again?

[2018-03-14 19:49] jwalton commented on #186
Failing test case: https://github.com/jwalton/proxyquire/blob/master/test/proxyquire-cache.js#L21-L27

[2018-03-14 19:56] jwalton commented on #186
noPreserveCache() fixes this, too (which is weird - this option works the opposite of how I expected it to.  :P)

[2018-03-19 22:03] #186 closed

[2018-03-21 14:05] alexmbrown opened #195 "Error when running with wallaby.js on Node"
I'm receiving the following error when I attempt to require another file `TypeError: Cannot read property 'split' of undefined` from the line invoking the proxyquire method when running my tests using wallabyjs. I do not receive this error when I use the jasmine test runner. Here is an example of when the error occurs

example.js:
[code]

example.spec.js:
[code]

[2018-03-21 15:13] bendrucker commented on #195
Hi, we can help you with your setup but I don’t expect this is an issue with proxyquire. If you’d like me to take a look please share a link to a repo where I can clone, npm install, and npm test. I should also be able to pass the inspect flag to npm test to debug and see stack traces for errors.

[2018-03-21 15:13] #195 closed

[2018-03-29 04:59] codeburke opened #196 "Unexpected issue with extending ES6 class and mocking"
I'm running into an unexpected problem with using proxyquire to mock a Base ES6 class that is extended by a Child class. My use case is more complicated, but I was able to create a fairly simple re-creation here: https://github.com/codeburke/proxyquire-extends-test
Running `npm install && npm run problem` will execute both the normal Child class and then a Child class with Base swapped for MockBas

[2018-04-06 17:40] vikikamath commented on #153
Not sure why the following did **not** work
[code]
But the following worked:
[code]
Any idea?

[2018-04-06 18:24] bendrucker commented on #153
@vikikamath

https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L179

`@noCallThru` is a property of the **stub**, not the object of stubs.

`
{nonexistent: Object.assign(() => console.log('ok'), {'@noCallThru': true})}

[2018-04-10 05:35] lewispham opened #197 "Default stub for submodules"
I'm now having troubles with setting default stub for all child modules within the mocked module. For example, if a module contains 10 submodules but I just want to really require 1 particular one for testing some specific methods, and ignore all other modules by returning empty objects. In order to achieve this, for now I'll have to do something like:
[code]
So I think i'll be more convenience if

[2018-04-10 16:27] bendrucker commented on #197
Hey, had some trouble following this. Based on my reading I don't think this is something we're going to consider. Proxyquire already passes through for anything you don't stub and will even fill in keys from the source module when you need to do something like just override `fs.readFile`.

The example seems contrived and not generalizable. There's really no reason why returning an empty object or

[2018-04-10 16:27] #197 closed

[2018-04-18 14:56] croraf opened #198 "Doesn't work as expected with 'config' library"
I want to mock config 'library' (https://github.com/lorenwest/node-config).

In my tested module I require it at the beginning of the file with:
`const config = require('config');`

In my mocha unit test I mock it with:

[code]

**But what is logged is not the mocked `exampleConfig`, but the real configuration object from configuration file.** Why, and how to fix it?

P.S. On `const config = requi

[2018-04-18 15:58] bendrucker commented on #198
From what I can tell from a brief peek at that module you're not using it properly. It has `get` and `set` methods among other things.

We need a fully reproducible example to offer support for your particular setup.

You should also read the docs for `noCallThru`.

[2018-04-18 15:58] #198 closed

[2018-04-19 12:50] croraf commented on #198
`config.get(propertyName)` and `config.set()` are methods to get the config properties; but they can also be gotten with `config.propertyName` directly.

I assumed that in proxyquire it will just substitute `require('config')` with the provided `exampleConfig` object. But under the hood it also loads config library?

I assume the config library then modifies the planted `exampleConfig`!?

[2018-04-20 17:31] aschonfeld opened #200 "proxyquire 2.0.1 seems to be having issues loading modules"
I'm not sure if this is an issue with using relative paths, but 2.0.1 seems to have an issue loading my mocked modules:

[code]

I am getting this error:

[code]

But everything works totally fine with 2.0.0.

Any insight would be great, thanks.

[2018-04-20 17:50] aschonfeld commented on #200
Sorry, this was actually proxyquire uncovering a long standing bug with our tests.

[2018-04-20 17:50] #200 closed

[2018-04-23 19:28] rochdev commented on #174
@charlespwd Did you ever find the root of the issue? We have the same problem and I can reproduce it with a single spec file. Every file save when using `mocha --watch` results in additional modules being loaded and referenced by proxyquire, and the old ones are never discarded.

[2018-04-23 19:53] charlespwd commented on #174
@rochdev, we ended up using my rewrite for our project. You could either use that or write your own. It wasn't too bad to do. It turns out to about 140 LOC.

Great resources:
https://nodejs.org/api/modules.html#modules_caching
http://fredkschott.com/post/2014/06/require-and-the-module-system/

[2018-04-24 14:17] uc2pac commented on #99
No natively supports import. Is it time now ))

[2018-04-27 11:55] xduseko opened #201 "Error: Cannot find module"
It's somehow not working. Can you help?

![image](https://user-images.githubusercontent.com/9591957/39361247-da97e066-4a21-11e8-83fc-4659fe46d803.png)

a.js:
[code]

b.js:
[code]

a-test.js:
[code]

result:
[code]

[2018-04-27 15:39] bendrucker commented on #201
Intended behavior, setting a module stub to null triggers a not found error.

[2018-04-27 15:39] #201 closed

[2018-04-30 11:03] nishant-jain-94 opened #202 "Cannot proxyquire es6 dependencies"
Cannot proxyquire es6 modules.

Using MongoConnector in app.js
[code]

Trying to stub ./connector, but couldn't, throws can't find module.
[code]
[code]

[2018-04-30 14:57] bendrucker commented on #202
Is this via babel or using flags for experimental Node features?

[2018-05-03 00:11] thlorenz commented on #202
If `./connectors` doesn't actually exist you need to use `noCallThru` option otherwise it'll try to find the original module to fill in the unstubbed properties.

[2018-05-03 10:57] bendrucker commented on #202
Once you’re running through Babel we’re not actually talking about es6 modules anymore.

[2018-05-03 14:01] senseysensor opened #203 "Proxyquire 2: required module is not cached"
I cannot get work proxyquire 2.0.1 after migrating from version 1.8.0.

Probably I don't understand something, but it seems like proxyquiering module doesn't preserve cache no matter if I call _noPreserveCache()_ or _preserveCache()_.

After calling proxyquire version 1.8 I check _require.cache_ and can see module I patched is in cache. So that if later patched module is required from any other pl

[2018-05-04 12:47] cosmonawt commented on #203
I have a similar issue:
When mocking a module and requiring it somewhere else later it would be overwritten with the unpatched module again.
Downgrading to 1.8.0 fixed it.

Node 9.5 here.

[2018-05-08 01:39] theKashey commented on #174
Sounds like this is not a problem for proxyquire, but for any other "nodejs" mocking library, as long they all work relatively the same.

[2018-05-08 20:31] akloeber commented on #203
Same here. It worked with 1.8.0.
Node v8.9.3

[2018-05-21 22:19] brocoli commented on #90
This kind of one-size-fits-all opinion is honestly not very useful.

First of all, not all tests are made to be stable across changes. Unit tests of private functions are just that. If you refactor you usually throw those unit tests out and build them again with the new functions, no problem.

Depending on what you're working on and your team dynamics, this may be better than not covering these fu

[2018-05-21 22:30] bendrucker commented on #90
Locking this as I don't think additional commentary is helpful here

[2018-05-22 20:54] bdruth opened #204 "proxyquire 2.0.1 breaks relative pathing"
Good afternoon. The PR change for fixing relative pathing seems to not work quite right. Here's my scenario:

./src/a.js
var foo = require('../foo.json')

./test/a_spec.js
var foo = proxyquire('../src/a.js', {'../foo.json':{'@noCallThru':true}})

As near as I can tell, I'm using the relative pathing right, but this breaks w/ 2.0.1

[code]

[2018-05-24 14:07] bdruth commented on #204
Sorry - that was a typo when I entered the issue - direct copy paste:
[code]

[2018-06-01 17:55] inderpreet99 commented on #175
Not sure how exactly this works, but I got it to work by just replacing the `stubs.add` with a Sinon object. It seems that proxyquire is able to handle it properly as long as stubs.add is not a "simple" function.

Proof of concept code: https://github.com/inderpreet99/experiment-proxyquire/blob/master/foo.spec.js
NOTE: There is no need to proxyquire again.

Moreover, the Examples -> Tests section

[2018-06-05 01:20] npHavens commented on #172
Hi, I love this library and I'm forced to use use typescript for work. Has anyone found a workaround for this or know a similar library for TS?  I am not asking to re-open the issue.  Just a fan of the library and I need to write express routing tests.

[2018-06-05 14:13] bendrucker commented on #172
Take a look at the transpiled output from Typescript. Assuming it’s like Babel and you’re ultimately still compiling down to good old requires you can figure out what’s going on.

[2018-06-06 22:17] JohnDMathis opened #205 "Testing a "dynamically loaded" module"
I have a set of folders that is populated at run-time. Let's call them "dynamic modules":
So I have: `/dynamicModules/someModule.js`

I have static files that may require the dynamic files, like this:
`const someModule = require( "/dynamicModules/someModule" );`

I make sure the dynamic files are loaded long before the code just above is executed. Locally, these dynamic files are loaded manually a

[2018-06-06 23:07] bendrucker commented on #205
Yes, that's `noCallThru`:

https://github.com/thlorenz/proxyquire#preventing-call-thru-to-original-dependency

[2018-06-06 23:07] #205 closed

[2018-06-07 15:09] JohnDMathis commented on #205
Thanks for the reply @bendrucker. For some reason, I thought @noCallThru was a different scenario.

Perhaps I'm using it incorrectly, but I'm still seeing it complain the path is not valid:
[code]
When I run the test:
[code]
Am I doing it wrong?

Thanks in advance!

John

[2018-06-07 16:30] JohnDMathis commented on #205
Update: I turned off callThru globally, and enabled it only on the modules where it's needed. I like that approach more anyway. Thanks for your help @bendrucker

[2018-06-07 18:18] bendrucker commented on #205
In your previous example, `@noCallThru` should be a key on `someModuleStub` as opposed to the whole object of stubs. So `someModuleStub['@noCallThru'] = true`. You can set `proxyquire.noCallThru()` or for a particular stub but not for one invocation.

[2018-06-18 12:02] adelura opened #207 "Error thrown when proxying non existing file"
Hi and thank you for such a great package!

I stumbled upon weird case. I have following setup:

foo.js
[code]

app.js
[code]

**Problem**  Above code is throwing an error.

Whereas requiring named packages doesn't:

app.js
[code]

I think that it's related to https://github.com/thlorenz/proxyquire/issues/58

Not sure if its a bug, but is there a way to workaround this? In my unit tests I require

[2018-06-18 12:54] adelura commented on #207
I just realized that it doesn't solved my problem when I actually do require dynamically my non existing file:

app.js
[code]

foo.js
[code]

[2018-06-18 13:03] adelura commented on #207
Solved when added flag `@noCallThru` to stub

app.js
[code]

foo.js
[code]

[2018-06-18 13:03] #207 closed

[2018-06-26 15:27] montumodi commented on #203
this is still an issue. has any one got any fix for this?

[2018-06-26 15:43] bendrucker commented on #203
Hi, a failing test would be appreciated here. Whether to proxyquire itself (preferable) or as a standalone project I can `npm install && npm test`.

The behavior of `preserveCache` is fairly ambiguous:

https://github.com/thlorenz/proxyquire#forcing-proxyquire-to-reload-modules

While that makes it fairly clear that the returned module is cached but what about stubs? 

I've merged a lot of caching

[2018-06-26 15:45] bendrucker commented on #202
Closing based on inactivity, this doesn't seem like an ES6 specific issue.

[2018-06-26 15:45] #202 closed

[2018-06-26 15:52] bendrucker commented on #196
Hi, sorry for the late response. I just read through this and as far as I see it your test output is expected. Your `MockBaseClass` when constructed sets `this.inc` to a function, overriding the prototype chain. You'd have to set `MockBaseClass.prototype.inc` but you would still initialize `_incReturn` to 0 in the constructor.

Hope that helps! This is generally applicable to JS inheritance, even

[2018-06-26 15:52] #196 closed

[2018-06-28 03:02] rodoabad opened #208 "Cannot find module unless specific as `.js` in a React Test"
Hey guys, I'm looking for guidance on how to mock this type of dependency properly.

I've included their paths from `'.'`. I'm only trying to assert that I can mock `test` from `./test` using `proxyquire.

[code]

[code]

[code]

When I change to...

[code]

I now get a new error.

[code]

And then when I change the component name...

[code]

Then my verify fails.

[code]

I'm using `proxyquire` 2

[2018-06-28 03:41] rodoabad commented on #208
So `proxyquire` does not work well with `jest`... Today I Learned.

[2018-06-28 05:49] bendrucker commented on #208
Hey, I don't really follow. This is a really broad set of dependencies and I don't see a question in there. If you can distill this into a much simpler case I can try to point you in the right direction.

[2018-06-28 05:50] bendrucker commented on #208
Happy to continue discussion but closing since this is a general guidance issue and not clearly a bug or feature request.

[2018-06-28 05:50] #208 closed

[2018-07-05 06:47] thesageinpilani opened #209 "what happens when i pass an empty array as a stub for a function"

[2018-07-05 06:59] #209 closed

[2018-07-05 08:43] pagewang0 commented on #93
@bendrucker require('winston') at @runtimeGlobal , because circular dependency +1

[2018-07-15 10:41] kailashyogeshwar85 opened #210 "Npm module proxied only once for first call after the orginal constructor is invoked"
I have a module foo.js which requires bar.js which requires cli-table2 and i want to proxquire like below

[code]

[2018-07-15 18:54] bendrucker commented on #210
Hi, it's unclear what you're asking here. Please at a bare minimum use `assert` in your example code to declare what you expect and indicate which assertions are failing with a comment. Even better would be to provide an example project.

[2018-07-16 09:32] basilbattikhi opened #211 "How can i override a function after 3 files ?"
if the file is not existing in ../repository/demoRepository i mean if this file is requiring another ../repository/demoRepository2 and ../repository/demoRepository2 is Requring another ../repository/demoRepository3 how can i override a function existing in ../repository/demoRepository3 without overriding each path

[2018-07-16 15:02] bendrucker commented on #211
Hi, this question is pretty hard to understand, a clearer example would have helped. Based on your comments I think you're looking for [global overrides](https://github.com/thlorenz/proxyquire#globally-override-require).

[2018-07-16 15:02] #211 closed

[2018-07-19 07:51] kromol commented on #113
This approach does not work if dependency is relative - e.g.  starts from dot:
`const module = require('./my-module')`;
It throws `Cannot find module` error

[2018-07-19 16:09] bendrucker commented on #113
Not true, your module must exist unless you enable `noCallThru`. Please open a new issue if you need support.

[2018-07-19 16:20] bendrucker commented on #77
You're writing your source code with explicit test hooks in it. Proxyquire works best when you modularize your code well but it never asks you to touch every source file. I'm guessing you understood this though 😉

If `foo` calls `require.resolve` on load instead of in some method your stubbing suggestion doesn't work. That's broadly true of `sinon` and why I avoid `sinon.stub(object, 'method')`. M

[2018-07-19 18:06] macgyver commented on #77
The [caveat in your readme](https://github.com/thlorenz/proxyquire/#caveat) and this discussion inspired me to find a better solution that doesn't require hacking the node internals, thanks!

[2018-07-28 10:49] sonicdoe commented on #137
FYI, I can’t reproduce this with proxyquire v2.0.1 (both with and without *callThru*).

[2018-07-30 17:25] maamounapprise opened #213 "Proxyquire still calling module after noCallThru()"
I am using proxyquire to mock dependency of a module in a class. I used noCallThru() and it still access the original function.
Example code:

[code]
orginal foo:
[code]

[2018-07-30 17:42] bendrucker commented on #213
Can I please get code I can run? A project I can `git clone && npm install && npm test` works best.

[2018-07-30 18:46] maamounapprise commented on #213
It's company's code I can't share it, is it a normal behavior for proxyquire to still access the original module function after being stubbed?  In my case it returns the stubbed result but still access the original module function.

Another question is if I have module Routes that imports A & B from Alpha as:

` import {A, B} from '../Alpha'
`
inside Routes there is index.js

index.js
[code]

how

[2018-07-30 21:38] bendrucker commented on #213
Ok, split it out into a project on GitHub and distill it to the bare minimum. I hope you'll understand that I can't help without that.

[2018-08-01 03:01] maamounapprise commented on #213
@bendrucker Thanks I realized that it wasn't reaching the modules because all the modules are imported through one class, so I created a mock object that carries all the mock modules and called proxyquire with it and it worked.

[2018-08-01 03:01] #213 closed

[2018-08-01 16:12] bendrucker commented on #213
Cool, that's why I always go straight to asking for a full repro! More often than not that's enough to highlight the mistake.

[2018-08-13 10:53] GeSnowBoy opened #214 "proxyquire can not use in jest"
I use proxyquire in jest,  but  No effect.   what shuold I do?   I am not sure  the error is your or  jest.
 can you tell me  how I can do?

[2018-08-13 15:15] bendrucker commented on #214
https://github.com/facebook/jest/issues/1937

[2018-08-13 15:15] #214 closed

[2018-08-17 22:16] intervalia opened #215 "Can not get proxyquire to work with a require that happens in an init function"
I have some code like this:

/lib/mine.js
[code]

/app.js
[code]

The code is much more complicated then this, but this is close enough to show the problem.

I am writing tests for `app.js` above and want to use `proxyquire` for the file `../otherPath/otherFile`

My test file is like this:

app.mocha.js
[code]

The rest of this file does not matter since the error happens when I try to use `proxyq

[2018-08-17 22:29] bendrucker commented on #215
Hey, would you mind creating a simple repro project with this case? I think I understand what you're trying to do here but it'd be a big help to be able to see the error and debug it directly.

[2018-08-17 22:35] intervalia commented on #215
The failing code is in a private repo but I will create a public repo that demos the bug.

I will respond to this thread as soon as it is ready but I may not be able to get to it until Monday.

Thanks!!

[2018-08-20 16:57] intervalia commented on #215
OK. Maybe there isn't an error in your code. It looks like my code must be at fault.

Here is the repo I created so you can see what I was doing.
https://github.com/intervalia/proxyquire-215
It does pass tests. So I will dig further into my other code and let you know what I find.

But I really think it is my issue now and not yours.

[2018-08-20 17:25] bendrucker commented on #215
😄 Thanks, that often happens with a repro, hopefully it's a helpful exercise!

[2018-08-20 20:42] intervalia commented on #215
I figured out what happened that made me think this was a bug.

In my tests I was using `const proxyquire = require('proxyquire').noCallThru();`

I had assumed that since I was telling proxyquire to NOT use the original required code that it would not bother trying to load the original file.

In my test code I was telling the system to require a non-existent file. And Proxyquire complained that th

[2018-08-20 21:09] bendrucker commented on #215
This is the output I get:

[code]

Proxyquire only tries to load the original to provide call-thru functionality. Setting `noCallThru()` should eliminate any need to have the stubbed modules actually present.

Please do modify your example if I'm misunderstanding since as long as the tests are passing I expect it's working.

[2018-08-20 21:16] intervalia commented on #215
Sorry, I forgot to change my repo. It is now changed and shows the failure.

Again, this is a test only environment for me. I have a situation where I want to only stub out a file that does not exist. The code shows that. It used to require '../lazyload/one', which exists. Not it attempts to require '../lazyload/two' which does not exist but it 100% stubbed out in my test file (app.mocha.js).

[2018-08-20 21:34] bendrucker commented on #215
Hmm, interesting. Looking into it.

[2018-08-21 16:59] intervalia commented on #215
I'll check it within the hour.

[2018-08-21 17:51] intervalia commented on #215
Yes. My bug is now gone. Thanks for the quick fix!!

[2018-08-21 18:18] #215 closed

[2018-08-22 02:33] #137 closed

[2018-08-22 02:34] #210 closed

[2018-08-22 02:43] bendrucker commented on #136
Closing this and #178—if you want full class support, enable `noCallThru`. If someone has a clever idea for how to handle this I'm all ears but I don't think it's a feasible/worthwhile goal for the lib right now.

[2018-08-22 02:43] #136 closed

[2018-08-22 02:43] #178 closed

[2018-08-22 02:45] bendrucker commented on #203
Hi—as no one's responded with code, I'm closing this issue. Happy to continue looking into this and/or clarifying docs with specifics.

[2018-08-22 02:45] #203 closed

[2018-08-22 02:45] bendrucker commented on #133
Cache behavior has changed significantly, closing due to age.

[2018-08-22 02:45] #133 closed

[2018-08-22 02:48] #91 closed

[2018-08-27 13:54] shanebloomer opened #217 "Add support for ES Modules in Node.js"
Proxyquire does not work with ES Modules in Node.js.

[code]

[code]

[code]

[2018-08-27 15:03] bendrucker commented on #217
Hi, while ES modules (i.e. not enabled by default) I probably will not make time to work on adding it to proxyquire. Once its closer to stable it might require lots of internal and external (i.e. breaking) changes.

We'd certainly be interested in PRs and implementation discussion in the mean time.

[2018-08-27 15:03] #217 closed

[2018-09-07 23:50] Jeffphuang opened #218 "Possible to reoverride modules that return a function?"
If I have a module that exposes a function, Is there a way that I can override the initial stub?
[code]

I noticed that if I have testing code like the following
[code]

[2018-09-08 00:35] bendrucker commented on #218
Hi, you're running into issues with references in JS! It doesn't matter that you say `functionStub =` later, you've already passed it _by reference_ to proxyquire. Assigning that variable name to a new reference later doesn't actually change the function that was passed in.

Instead, define your mock functions up front and `proxyquire` a new copy of the module for each new mock. How that looks wil

[2018-09-08 00:36] #218 closed

[2018-09-19 16:59] shaynemeyer opened #219 "Proxyquire failing to replace simple module"
`
// HelloWorld.js
function HelloWorld() {
    return 'Hello World';
}

module.exports = HelloWorld;
`

`
// TestProxyquire..spec.js
/* eslint-env node, mocha */
'use strict';

/* eslint-env node, mocha */
const proxyquire = require('proxyquire').noPreserveCache();
const {expect} = require('chai');

describe('Proxyquire', () => {

    beforeEach(() => {
        proxyquire('./HelloWorld', {

[2018-09-19 17:52] bendrucker commented on #219
Hi, this is not how proxyquire works. You use the return value of `proxyquire`, effectively replacing `require`. It is not meant to set up mocks for future require calls. Also, the `stubs` keys (second arg) are module paths, not identifiers from your code.

[2018-09-19 17:52] #219 closed

[2018-09-28 12:36] Sufiane opened #220 "overriding module.exports = function"
Hi, i face myself with the same problem as issue #120 & #123 , but cannot find a way to do it working without changing my `module.exports = myFunction` to `module.exports = { myFunction} `

Here what I have been doing:
fileToTest.js:
[code]
functionToOverride
[code]
testFile.js (assuming this file is located in test directory, which is as the same level as fileToTest.js)
[code]

When executing the

[2018-09-30 06:55] kenkopelson commented on #144
Hey Ben, thanks for all your great work on proxyquire!  Just one question if I may.  I'm asking proxyquire to stub some methods in a mongoose model.  When the model gets loaded in the underlying module (Node), proxyquire is turning it into an object, and removing it's javascript class nature (constructor).  This means I can no longer call "new" on the model object to create a new instance of the m

[2018-09-30 14:02] bendrucker commented on #144
Use `noCallThru` and provide a full mock if class semantics are important

[2018-10-05 13:19] Noor0 opened #221 "proxyquire throws cannot find module error whenever called without noCallThru()"
i'm using `proxyquire` with `jest` to test my serverless handler functions but i always get `Cannot find module '../../models' from '/User/.../signup`. This goes away if i call it with `const proxyquire = require('proxyquire').noCallThru()` but i don't want to stub out every module which is being used by my handler.

// handler.js
[code]

//test.js
[code]

[2018-10-05 16:51] bendrucker commented on #221
When used without noCallThru, proxyquire looks up any modules you try to stub to load their original implementation. Are you sure that path exists?

[2018-10-05 20:04] bendrucker commented on #221
From your test, if you put `require('../../../app/handlers/signup')` above proxyquire, it succeeds? Just want to double check. It's a common mistake.

Otherwise, can I get the exact output?

[2018-10-08 13:44] Noor0 commented on #221
I'm not requiring the module, why do i have to `require` the module? doesn't `proxyquire` do that?
Anyway, i achieved what i wanted to achieve with `proxyquire` with `jest` using `jest.mock` and `jest.doMock`.

[code]

[2018-10-08 17:27] bendrucker commented on #221
Was looking for your help debugging. Sounds like you have something working with Jest and since it's an all-encompassing framework you should probably just stick with that.

[2018-10-08 17:27] #221 closed

[2018-10-08 17:37] Noor0 commented on #221
Thanks ben for replying and your help, i wasn't requiring the module in my test file because in the documentation it mentions that proxyquire imports the module that you're trying to test for you.

[2018-10-08 17:41] bendrucker commented on #221
Right, in general a `proxyquire('./module-under-test', stubs)` call _should_ be replaceable by a `require('./module-under-test')`. That just means it shouldn't throw. That's only untrue if you're using proxyquire to provide a stub for a module that doesn't exit and using `noCallThru`. If `proxyquire` throws, the first step would be to ensure that an identical `require` doesn't.

[2018-10-12 08:56] neilghosh commented on #63
I am getting "TypeError: Datastore is not a constructor" during the constructor call.
I am trying to test the following piece of code.
[code]
My test file contains

[code]

[2018-10-15 20:06] Druotic opened #222 "Did `preserveCache` stop working and `noPreserveCache` become the default?"
A coworker was asking me about `noPreserveCache` and when it is/isn't needed, and I was a bit surprised to find the example in the docs are no longer accurate.

Based on https://github.com/thlorenz/proxyquire#forcing-proxyquire-to-reload-modules:

[code]

For testing, I created a simple `foo.js` with a single line `module.exports = {};`
The asserts fail with an error like:

[code]

Is this expecte

[2018-10-15 20:35] bendrucker commented on #222
Hi there, there was definitely quite a bit of ambiguity/bugs around cache. Might've been a regression in the mean time or maybe we just need to update the docs.

When it comes to preserving cache, the key ambiguity is whether proxyquire is asked to preserve:

* the cache as it existed before calling `proxyquire`
* the result of calling `proxyquire`

I believe the first is working properly but the

[2018-10-22 10:24] sheltonsuen opened #223 "Have anybody meet the `addComponentAsRefTo(...): Only a ReactOwner can have refs` when using proxyquire with `React`"
I am try to using proxyquire to mock a deep nested dependency using `@global` like:
'src/shared/xxxComponent': {
    default: fakeComponent,
    '@global': true
  }

But react log this error, I can't figure out what exactly reason this happen,  Do you guys have any ideas about this? thanks a lot:)

[2018-10-22 10:25] sheltonsuen commented on #223
full error log:
[code]

[2018-10-22 18:21] bendrucker commented on #223
Hi there. Wish I could help but there's a lot of moving parts here and you haven't shared much code. Feel free to post more info but I can't guarantee we'll be able to help.

[2018-10-22 18:21] #223 closed

[2018-10-26 13:24] wheresrhys opened #224 "Can't proxyquire json files in v2"
This appears to be similar to this issue https://github.com/thlorenz/proxyquire/issues/137.

Here's a code sample:

[code]

It works in v1.7, so all the paths etc are configured correctly.

I wonder if the problem might be caused by the nested proxyquires as I imagine you have tests to cover the simplest case of a single proxyquire that uses a json?

I've tried with `noPreserveCache()` and `noCall

[2018-10-26 15:29] bendrucker commented on #224
Do you get an error or is services not `[]`?

[2018-10-26 21:45] wheresrhys commented on #224
It requires the real json file, as if proxyquire isn't there. I added logs here https://github.com/thlorenz/proxyquire/blob/master/lib/proxyquire.js#L167 (maybe not the most useful place, but just poking around), and lots of module names were logged out, including IIRC all the ones mentioned in the code sample above, but none of the lines logged ended `v2/services.json`

[2018-10-28 13:17] sheltonsuen commented on #223
Thank you for this, I found another walk around way to solve this. For some security reason, I can't share the source code, but I can write a demo to demonstrate this situation later, I think maybe this is nothing about `proxyquire` but `enzyme`.

Anyway, thank you for your help, and `proxyquire` is a pretty awesome tools.

[2018-10-30 13:08] Druotic commented on #222
Hey, sorry for the delayed response and thanks for the speedy response.

My use case isn't very unique. I was just proxyquiring modules and I did not want the stubbed modules to get cached, so I used the `.noPreserveCache()` function. I've been doing this for at least a couple of years now, because I almost always want to ensure the stubbed version does not stick around in the require cache. I onl

[2018-11-11 09:25] #224 closed, assigned to nobody

[2018-11-25 23:04] axelpale opened #226 "Recursive noPreserveCache: deps should also be reloaded"
I am using `proxyquire` to unit test a module. I test how the module behaves when certain environment variables are absent or invalid. A dependency of the module also relies on some relevant environment variables. For each test case, I change the env vars and call proxyquire on the module. For the module to reload the new env vars, I use `var proxyquire = require('proxyquire').noPreserveCache()`.

[2018-11-27 16:01] nohaibogdan1 commented on #221
In my case, I am working on a Meteor app.  proxyquire doesn't find any module I give . I get this on mocha.
[code]

[2018-12-04 21:10] Wildhoney opened #227 "Mocking URLs"
I'm trying to mock URL imports:

[code]

But I receive a bunch of:

Is it not supported?

[2018-12-04 21:14] bendrucker commented on #227
You definitely can't `require('https://...')` so proxyquire doesn't support that either

[2018-12-04 21:14] #227 closed

[2018-12-04 21:16] Wildhoney commented on #227
You can in the browser.

However when running tests they're run in Node, which obviously don't support `http`/`https` &mdash; my idea was to mock those imports for the test environment.